/* 状态栏 */
@keyframes QYLstatusswitch1 {
    0% {
      transform: translateX(var(--QYL-status-transformX)) scale(0);
      opacity: 0;
    }
    50% {
      transform: translateX(var(--QYL-status-transformX)) scale(1.05);
      opacity: 1;
    }
    70% {
      transform: translateX(var(--QYL-status-transformX)) scale(0.95);
    }
    85% {
      transform: translateX(var(--QYL-status-transformX)) scale(1.02);
    }
    100% {
      transform: translateX(var(--QYL-status-transformX)) scale(1);
    }
}
@keyframes QYLstatusswitch2 {
    0% {
      transform: translateX(var(--QYL-status-transformX)) scale(0);
      opacity: 0;
    }
    50% {
      transform: translateX(var(--QYL-status-transformX)) scale(1.05);
      opacity: 1;
    }
    70% {
      transform: translateX(var(--QYL-status-transformX)) scale(0.95);
    }
    85% {
      transform: translateX(var(--QYL-status-transformX)) scale(1.02);
    }
    100% {
      transform: translateX(var(--QYL-status-transformX)) scale(1);
    }
}
@keyframes QYLstatusswitch3 {
    0% {
      transform: translateX(var(--QYL-status-transformX)) scale(1);
      opacity: 0;
    }
    50% {
      transform: translateX(var(--QYL-status-transformX)) scale(1.02);
      opacity: 1;
    }
    70% {
        transform: translateX(var(--QYL-status-transformX)) scale(0.99);
    }
    85% {
    transform: translateX(var(--QYL-status-transformX)) scale(1.01);
    }
    100% {
      transform: translateX(var(--QYL-status-transformX)) scale(1);
    }
}

@media (min-width: 630px) {
    #status {
        animation: QYLstatusswitch1 0.6s cubic-bezier(0.8, 0, 0.9, 1);
        &.QYLstatushidden {
            animation: QYLstatusswitch2 0.6s cubic-bezier(0.8, 0, 0.9, 1);
        }
    }
}
@media (max-width: 630px) {
    #status {
        border: none;
        height: 28px;
        margin-top: -6px;
        transform: none !important;
    }
}
@media (min-width: 630px) {
    #status {
        position: fixed;
        right: -9px;
        transform: translateX(var(--QYL-status-transformX));
        backface-visibility: hidden;
        bottom: 12px;
        border-radius: 12px;
        height: 27px !important;
        overflow: hidden;
        z-index: 4;
        border: 1px solid var(--b3-theme-surface-lighter);
        background-color: var(--b3-theme-background);
        display: flex;
        align-items: center;
        box-shadow: var(--b3-point-shadow),0 0 0 1px rgba(255, 255, 255, 0.12) inset,0 2px 1px -1px rgba(255, 255, 255, 0.2) inset;
        user-select: none;
        transition: 0.2s cubic-bezier(0.8, 0, 0.9, 1);
        &:not([style]) {
            right: 15px; /* 新窗口打开 */
        }
        & #barDock {
            position: relative;
            order: 1;
        }
        &#statusHelp {
            position: relative;
        }
        &.QYLstatushidden:hover {
            animation: QYLstatusswitch3 0.6s cubic-bezier(0.8, 0, 0.9, 1);
        }
        &.QYLstatushidden:not(:hover) {
            --QYL-filter-background: rgb(from var(--b3-theme-primary) r g b / 50%) !important;
            border-radius: 12px;
            height: 20px !important;
            width: 35px;
            background-color: rgb(from var(--b3-theme-primary) r g b / 50%);
            backdrop-filter: blur(40px) saturate(3) brightness(1.1);
            border: none !important;
            container-type: inline-size;
            right: -7px;
            &:not([style]) {
                right: 15px; /* 新窗口打开 */
            }
            & * {
                opacity: 0;
            }
            &::before {
                content: "● ● ●";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                color: rgb(from var(--b3-theme-on-primary) r g b / 60%);
                font-size: 40cqw;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
            }
        }
    }
    .dock#dockBottom:not(.fn__none) + #status {
        bottom: 48px;
    }
}
.status .toolbar__item:hover {
    background-color: var(--QYL-hover) !important;
}
/* 顶栏 */
.toolbar {
    border: none;
}
.toolbar {
    border: none;
    & > * {
        transform: translateY(3px);
    }
}
/* 侧栏 */
.dock#dockLeft {
    border: none;
}
.dock#dockRight {
    border: none;
}
.dock#dockBottom {
    border: none;
      &:not(.fn__none) {
        margin-top: -6px;
      }
}
.dock__item {
    color: var(--b3-toolbar-color);
}
/* layout */
.layout__empty .b3-list-item:hover {
    color: var(--b3-theme-primary);
    & .b3-list-item__meta {
        color: var(--b3-theme-primary);
    }
}
#layouts {
    border: none;
    background-color: var(--b3-theme-surface);
    padding: 6px 0 6px 0;
    min-height: 50%;
}
#layouts.layout__center {/* 新窗口打开时应取消内边距 */
    padding: 0;
}
:is(.layout__dockl, .layout__dockr, .layout__dockb) > :is(.fn__flex-1, .fn__flex, .fn__flex-column) > [data-type="wnd"] > .layout-tab-container {
    border-radius: var(--b3-border-radius);
    background-color: var(--b3-theme-background);
    & :is(.block__logo, .block__logoicon, .block__icon) {
        color: var(--b3-theme-primary);
        font-weight: bold;
    }
    & .block__icons {
        border-bottom: none;
    }
    & .graph {
        background-color: var(--b3-theme-background);
    }
    .b3-text-field {
        background-color: var(--b3-theme-background);
    }
}
.layout__center :is(.fn__flex-1, .fn__flex, .fn__flex-column) [data-type="wnd"] > .fn__flex > .layout-tab-bar:not(.layout-tab-bar--readonly) {
    border-top-left-radius: var(--b3-border-radius);
    & + .layout-tab-bar.layout-tab-bar--readonly {
        border-top-right-radius: var(--b3-border-radius);
    }
}
.layout__center :is(.fn__flex-1, .fn__flex, .fn__flex-column) [data-type="wnd"] > .layout-tab-container {
    border-radius: 0 0 var(--b3-border-radius) var(--b3-border-radius);
    & .block__icons {
        background-color: var(--b3-theme-background);
    }
}
.layout__empty {
    border-radius: var(--b3-border-radius);
}
.layout__resize.layout__resize--lr {
    margin: 0;
    &:hover::after {
        transition: none;
    }
    &::after {
        visibility: hidden;
        width: 8px;
        height: 100%;
        border-radius: var(--b3-border-radius-q);
        transition: none;
    }
    &:hover::after {
        visibility: visible;
    }
}
.layout__resize {
    margin: 0;
    &:hover::after {
        transition: none;
    }
    &::after {
        visibility: hidden;
        height: 8px;
        width: 100%;
        border-radius: var(--b3-border-radius-q);
        transform: translateY(-3px);
        transition: none;
    }
    &:hover::after {
        visibility: visible;
    }
}
#dockLeft.fn__none + #layouts {
    padding-left: 6px;
    padding-right: 6px;
}
.layout__dockb[style="height: 0px;"] {
    opacity: 0;
}
.layout--float:is(.layout__dockl,.layout__dockr,.layout__dockb) {
    box-shadow: var(--b3-point-shadow);
}
.layout__dockb.layout--float {
    margin-left: 42px;
    margin-right: 42px;
    margin-bottom: -25px;
    border-radius: var(--b3-border-radius) var(--b3-border-radius) 0 0;
}
/* PDF界面 */
.pdf__outer #mainContainer {
    background-color: var(--b3-theme-background);
}
.pdf__outer #sidebarContainer {
    background-color: var(--b3-theme-background);
}

/* 文档树 */
.b3-list-item.b3-list-item--hide-action .b3-list-item__toggle.fn__hidden::before {
    content: "";
    width: 0.25em;
    height: 0.25em;
    border-radius: 99px;
    background-color: var(--QYL-filetree-arrow);
    position: absolute;
    visibility: visible;
    margin-left: 3px;
}
.file-tree .b3-list-item .b3-list-item__arrow {
    color: var(--QYL-filetree-arrow);
}

/* 文档树缩进线修复 */
.file-tree>.fn__flex-1>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 22px !important
}
.file-tree>.fn__flex-1>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 40px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 58px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 76px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 94px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 112px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 130px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {/* 第八层 */
    padding-left: unset !important;
    padding-inline-start: 148px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 166px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 184px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 202px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 220px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 238px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 256px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 274px !important
}