.layout__center:not(#layouts) :is(.fn__flex-1, .fn__flex, .fn__flex-column) [data-type="wnd"] .protyle::before {
    content: "";
    display: block;
    background-color: rgba(247, 247, 247, 0.7);
    mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
    backdrop-filter: blur(100px);
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none
}
[data-theme-mode="dark"] .layout__center:not(#layouts) :is(.fn__flex-1, .fn__flex, .fn__flex-column) [data-type="wnd"] .protyle::before {
    background-color: rgba(0, 0, 0, 0.7);
}
.layout__center:not(#layouts) :is(.fn__flex-1, .fn__flex, .fn__flex-column) [data-type="wnd"] > .fn__flex:first-child {
    background-color: transparent;
    z-index: 4;
    border: none;
    margin-bottom: -36.5px;
    & > .layout-tab-bar {
        border: none;
        background-color: transparent;
        &.layout-tab-bar.layout-tab-bar--readonly {
            max-width: 80px;
        }
        & [data-type="tab-header"], [data-type="new"], [data-type="more"] {
            backdrop-filter: blur(10px);
        }
    }
    & + .layout-tab-container {
        border-radius: var(--b3-border-radius);
        & > .fn__flex-1.protyle .protyle-breadcrumb {/* 只隐藏protyle的面包屑 */
            padding-top: 46.5px;
            margin-bottom: -76.5px;
            background-color: transparent;
            z-index: 3;
            &:hover .protyle-breadcrumb__bar ~ .block__icon {
                opacity: 1;
            }
            & .protyle-breadcrumb__bar {
                margin-left: -0.5px;
                background-color: rgb(from var(--b3-theme-background) r g b / 50%);
                border-radius: var(--b3-border-radius);
                backdrop-filter: blur(10px);
                &:hover {
                    opacity: 1;
                }
            }
            & .block__icon {
                background-color: rgb(from var(--b3-theme-background) r g b / 50%);
                backdrop-filter: blur(10px);
                &[data-type="more"] {
                    margin-right: 8px;
                }
            }
            &:has(button[data-type="exit-focus"]:not(.fn__none)) {
                opacity: 1;
            }
            & + .protyle-content {
                padding-top: 76.5px;
                    .protyle-top {
                        margin-top: -76.5px;
                    }
                    & .protyle-background__img.fn__none+.protyle-background__ia {
                        padding-top: 80px;
                    }
            }
        }
    }
}
.layout__center:not(#layouts) :is(.fn__flex-1, .fn__flex, .fn__flex-column) [data-type="wnd"] .layout-tab-container {
    background-color: var(--b3-theme-background);
    & > :not(.protyle) {
        margin-top: 43.5px;
    }
}
.protyle-background__img .protyle-icons {
    top: 80px
}

/* 吸顶调整 */
html[data-en_enabled_module~=EnableLifelogTag] [data-type=NodeParagraph][custom-lifelog-type] {
    position: sticky;
    top: -12px;
    z-index: 2;
}

/* 数据库 */
.av__row--header[style*="transform"] { 
    top: 80px;
    &::before {
        content: "";
        position: absolute;
        top: -80px;
        left: 0;
        height: 80px;
        width: 100%;
        background-color: var(--b3-theme-background);
    }
}