        /* 动画效果 */
/* 弹出动画 */
@keyframes QYLpopout {
    0%,10% {
        opacity: 0;
        transform: none
    }

    10% {
        transform: scale(0.9)
    }

    90%,100% {
        opacity: 1
    }

    100% {
        transform: none
    }
}
@keyframes QYLpopout2 {
    0%,10% {
        opacity: 1;
        transform: none
    }

    10% {
        transform: scale(0.9)
    }

    90%,100% {
        opacity: 1
    }

    100% {
        transform: none
    }
}
@keyframes QYLpopout3 {
    0%,10% {
        opacity: 1;
        transform: none
    }

    10% {
        transform: scale(0.85)
    }

    90%,100% {
        opacity: 1
    }

    100% {
        transform: none
    }
}
/* 右弹动画 */
@keyframes QYLbounceRight {
    00% {
        transform: translateX(-100%);
    }
    30% {
        transform: translateX(10%);
    }
    70% {
        transform: translateX(-5%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes QYLbounceRight2 {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}
/* 页签动画 */
.layout__center :not(.av__views) > .layout-tab-bar .item {
    animation: QYLbounceRight 0.5s;
}
.layout__center :not(.av__views) > .layout-tab-bar:not(.layout-tab-bar--readonly) .item:active {
    transform: scale(0.9);
}
/* 侧栏图标动画 */
:is(.layout__dockl, .layout__dockr, .layout__dockb) > :is(.fn__flex-1, .fn__flex, .fn__flex-column) > [data-type="wnd"] > .layout-tab-container .block__logo {
    animation: QYLtoolbarenter 0.6s cubic-bezier(0.8, 0, 0.9, 1);
}
:is(.layout__dockl, .layout__dockr, .layout__dockb) > :is(.fn__flex-1, .fn__flex, .fn__flex-column) > [data-type="wnd"] > .layout-tab-container .block__icons .block__icon {
    display: none;
}
:is(.layout__dockl, .layout__dockr, .layout__dockb) > :is(.fn__flex-1, .fn__flex, .fn__flex-column) > [data-type="wnd"] > .layout-tab-container .block__icons:hover .block__icon:not([disabled]) {
    display: unset;
    animation: QYLtoolbarenter 0.6s cubic-bezier(0.8, 0, 0.9, 1);
}
/* 集市卡片动画 */
.config-bazaar__panel .b3-card {
    animation: QYLhintmenuenter 0.6s cubic-bezier(0.8, 0, 0.9, 1);
}
.config__tab-wrap > div {
    animation: QYLbounceRight2 0.2s;
}
/* 自定义属性面板动画 */
.b3-dialog__body .custom-attr {
    animation: QYLtoolbarenter 0.6s cubic-bezier(0.8, 0, 0.9, 1);
}
/* 搜索面板动画 */
:is(#searchList, #searchAssetList, #searchUnRefList) .b3-list-item {
    animation: QYLhintmenuenter 0.6s cubic-bezier(0.8, 0, 0.9, 1);
}
/* 退出聚焦按钮动画 */
.protyle-breadcrumb button[data-type="exit-focus"] {
    animation: QYLtoolbarenter 0.6s cubic-bezier(0.8, 0, 0.9, 1);
}
/* 文档标题动画 */
.protyle-title__input {
    animation: QYLtoolbarenter 0.6s cubic-bezier(0.8, 0, 0.9, 1);
    color: var(--b3-theme-primary);
}
/* 资源图片预览动画 */
#preview > * {
    animation: QYLtoolbarenter 0.6s cubic-bezier(0.8, 0, 0.9, 1);
}
#preview > * {
    border-radius: var(--b3-border-radius);
}
/* 菜单内动画 */
.b3-menu .b3-menu__item {
    animation: QYLbounceRight2 0.1s;
}
#commonMenu .b3-list-item {
    animation: QYLbounceRight2 0.1s;
}
/* 闪卡动画 */
[data-key="dialog-viewcards"] .fn__flex-1.b3-list div[data-type="card-item"] {
    animation: QYLbounceRight2 0.15s;
}
/* 命令面板动画 */
[data-key="dialog-commandpanel"] .search__list .b3-list-item {
    animation: QYLhintmenuenter 0.6s cubic-bezier(0.8, 0, 0.9, 1);
}
/* 数据历史动画 */
[data-key="dialog-history"] :is(.history__side, [data-type="notebook"], [data-type="repo"] ) .b3-list-item {
    animation: QYLhintmenuenter 0.6s cubic-bezier(0.8, 0, 0.9, 1);
}
/* 最近的文档动画 */
[data-key="dialog-recentdocs"] .b3-list.b3-list--background .b3-list-item {
    animation: QYLhintmenuenter 0.6s cubic-bezier(0.8, 0, 0.9, 1);
}
/* 闪卡内文档树动画 */
[data-key="dialog-movepathto"] #foldTree li.b3-list-item {
    animation: QYLhintmenuenter 0.6s cubic-bezier(0.8, 0, 0.9, 1);
}
/* 代码片段面板动画 */
[data-key="dialog-snippets"] :is([data-type="js"], [data-type="css"]) .fn__flex input[type="text"] {
    animation: QYLtoolbarenter 0.6s cubic-bezier(0.8, 0, 0.9, 1);
}
[data-key="dialog-snippets"] :is([data-type="js"], [data-type="css"]) .fn__block.b3-text-field {
    animation: QYLtoolbarenter 0.6s cubic-bezier(0.8, 0, 0.9, 1);
}
/* 页签悬浮闪光 */
.layout-tab-bar .item:not(.layout-tab-bar .item--readonly) {
    --translate-offset: 220%;
    &:before {
        content: "";
        background-color: rgba(255,255,255,0.8);
        height: 100%;
        width: 30%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transform: skewX(-45deg) translateX(calc(-1 * var(--translate-offset)));
    }
    &:hover {
      &::before {
          transition: 0.4s cubic-bezier(0.8, 0, 0.9, 1);
          transform: skewX(-45deg) translateX(calc(var(--translate-offset) + 270%));
      }
    }
}
:is(.b3-button,.b3-chip--pink)::before {
    display: block !important;
}
#barWorkspace::before {
    display: block !important;
}

/* 超链接动效 */
.protyle-wysiwyg [data-node-id] span[data-type~=a] {
    background-image: linear-gradient(to right, var(--QYL-link) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    background-repeat: no-repeat;
    transition: 0.3s cubic-bezier(0.8, 0, 0.9, 1);
    &:hover {
        transition: 0.3s cubic-bezier(0.8, 0, 0.9, 1);
        color: var(--QYL-white);
        background-position: 0 0;
        border-bottom: 0.5px solid;
    }
}
.protyle-wysiwyg [data-node-id] span[data-type~=block-ref]:not(.av__celltext) {
    background-image: linear-gradient(to right, var(--QYL-ref) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    background-repeat: no-repeat;
    transition: 0.3s cubic-bezier(0.8, 0, 0.9, 1);
    &:hover {
        transition: 0.3s cubic-bezier(0.8, 0, 0.9, 1);
        color: var(--QYL-white);
        background-position: 0 0;
        border-bottom: 0.5px solid;
    }
}
.protyle-wysiwyg [data-node-id] span[data-type~=file-annotation-ref] {
    background-image: linear-gradient(to right, var(--QYL-PDFmark) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    background-repeat: no-repeat;
    transition: 0.3s cubic-bezier(0.8, 0, 0.9, 1);
    &:hover {
        transition: 0.3s cubic-bezier(0.8, 0, 0.9, 1);
        color: var(--QYL-white);
        background-position: 0 0;
        border-bottom: 0.5px solid;
    }
}
.protyle-wysiwyg [data-node-id] span[data-type=virtual-block-ref] {
    background-image: linear-gradient(to right, var(--b3-theme-primary) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    background-repeat: no-repeat;
    transition: 0.3s cubic-bezier(0.8, 0, 0.9, 1);
    &:hover {
        transition: 0.3s cubic-bezier(0.8, 0, 0.9, 1);
        color: var(--QYL-white);
        background-position: 0 0;
        border-bottom: 0.5px solid;
    }
}
.b3-typography span[data-type~=inline-memo], .protyle-wysiwyg span[data-type~=inline-memo] {
    background-image: linear-gradient(to right, var(--b3-theme-primary) 50%, var(--QYL-hover) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    background-repeat: no-repeat;
    transition: 0.3s cubic-bezier(0.8, 0, 0.9, 1);
    &:hover {
        transition: 0.3s cubic-bezier(0.8, 0, 0.9, 1);
        color: var(--QYL-white);
        background-position: 0 0;
    }
}
/* 列表辅助线 */
@keyframes QYLlihelpenter {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(1.05);
      opacity: 1;
    }
    70% {
      transform: scale(0.95);
    }
    85% {
      transform: scale(1.02);
    }
    100% {
      transform: scale(1);
    }
}
.en_item_bullet_line:not(.protyle-wysiwyg--select)::after {
    animation: QYLlihelpenter 0.4s cubic-bezier(0.8, 0, 0.9, 1);
}
/* 背景光效动画 */
@keyframes QYLglow {
    from {
        background-position: -100% 0;
      }
      to {
        background-position: 150% 0;
      }
}
@keyframes QYLtaskenter1 {
    0% {
        transform: scale(0);
        opacity: 0;
      }
      50% {
        transform: scale(1.4);
        opacity: 1;
      }
      55% {
        transform: scale(1);
      }
      60% {
        transform: scale(0.9);
      }
      75% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
}
@keyframes QYLtaskenter2 {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(1.2);
      opacity: 1;
    }
    70% {
      transform: scale(0.9);
    }
    85% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
}
.protyle-wysiwyg [data-node-id].li > .protyle-action {
    animation: QYLtaskenter2 0.6s cubic-bezier(0.8, 0, 0.9, 1);
}
.protyle-wysiwyg [data-node-id][data-subtype="t"].li.protyle-task--done {
    background-image: linear-gradient(105deg,transparent 25%,var(--b3-theme-primary-lighter) 40%,var(--b3-theme-primary-lighter) 60%,transparent 75%);
    background-size: 200% 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    animation: QYLglow 1s cubic-bezier(0.9, 0, 0.5, 1) forwards;
    & > .protyle-action--task {
        animation: QYLtaskenter1 1.5s cubic-bezier(0.4, 0.3, 0.8, 0.6) forwards;
    }
}
.protyle-wysiwyg [data-node-id][data-subtype="t"].li:not(.protyle-task--done) {
    & > .protyle-action--task {
        animation: QYLtaskenter2 0.6s cubic-bezier(0.8, 0, 0.9, 1);
    }
}
/* 分割线动效 */
@keyframes QYLhrenter {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
}
.protyle-wysiwyg [data-node-id].hr {
    animation: QYLhrenter 0.3s cubic-bezier(0.9, 0, 0.5, 1);
}
/* 块标 */
@keyframes QYLguttersenter {
    0% {
      transform: scale(0.3);
      opacity: 0;
    }
    50% {
      transform: scale(1.03);
      opacity: 1;
    }
    70% {
      transform: scale(0.98);
    }
    85% {
      transform: scale(1.01);
    }
    100% {
      transform: scale(1);
    }
}
.protyle-gutters button {
    animation: QYLguttersenter 0.5s cubic-bezier(0.8, 0, 0.9, 1);
}
.protyle-gutters button[data-type="fold"] svg {
    transition: transform 0.4s cubic-bezier(0.68, -1.2, 0.32, 1.8);
}

.b3-list-item__arrow {
    transition: transform 0.4s cubic-bezier(0.68, -1.2, 0.32, 1.8) !important; 
}

@keyframes QYLtoolbarenter {
    0% {
      transform: scale(0.7);
      opacity: 0;
    }
    50% {
      transform: scale(1.03);
      opacity: 1;
    }
    70% {
      transform: scale(0.98);
    }
    85% {
      transform: scale(1.01);
    }
    100% {
      transform: scale(1);
    }
}
@keyframes QYLtoolbarenterfix {
    0% {
      transform: none;
      opacity: 0;
    }
    70% {
      transform: scale(1.1);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
}
.protyle-toolbar {
    animation: QYLtoolbarenterfix 0.3s cubic-bezier(0.8, 0, 0.9, 1);
}
.protyle-hint, .protyle-util {
    animation: QYLtoolbarenter 0.4s cubic-bezier(0.8, 0, 0.9, 1);
}
@keyframes QYLhintmenuenter {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    50% {
      transform: scale(1.01);
      opacity: 1;
    }
    70% {
      transform: scale(0.99);
    }
    85% {
        transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
}
@keyframes QYLhintmenuenterfix {
    0% {
      transform: none;
      opacity: 0;
    }
    70% {
      transform: scale(1.05);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
    }
}
.protyle-hint.hint--menu {
    animation: QYLhintmenuenterfix 0.4s cubic-bezier(0.8, 0, 0.9, 1);
    transform-origin: right bottom;
}

@keyframes QYLtooltipenter {
    0% {
      transform: scale(0.7);
      opacity: 0;
    }
    50% {
      transform: scale(1.01);
      opacity: 1;
    }
    70% {
      transform: scale(0.99);
    }
    85% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
}
.tooltip {
    animation: QYLtooltipenter 0.6s cubic-bezier(0.8, 0, 0.9, 1);
}


[data-key="dialog-syncchoosedirection"] .b3-dialog__container {
    animation: QYLtooltipenter 0.6s cubic-bezier(0.8, 0, 0.9, 1);
}
#QYLsettings-window {
    animation: QYLhintmenuenter 0.6s cubic-bezier(0.8, 0, 0.9, 1);
}
body > div.block__popover.block__popover--open {
    animation: QYLtooltipenter 0.6s cubic-bezier(0.8, 0, 0.9, 1);
}
#QYLattr, .QYLcssinput {
    animation: QYLhintmenuenter 0.4s cubic-bezier(0.8, 0, 0.9, 1);
}
.protyle-breadcrumb__bar {
    & .protyle-breadcrumb__item {
        animation: QYLtooltipenter 0.4s cubic-bezier(0.8, 0, 0.9, 1);
    }
    & .protyle-breadcrumb__arrow {
        animation: QYLtooltipenter 0.4s cubic-bezier(0.8, 0, 0.9, 1);
    }
}

@keyframes QYLattrstyleenter {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    50% {
      transform: scale(1.01);
      opacity: 1;
    }
    70% {
      transform: scale(0.99);
    }
    85% {
      transform: scale(1.01);
    }
    100% {
      transform: scale(1);
    }
}
:is([custom-style="警告"],[custom-style="灵感"],[custom-style="完成"],[custom-style="信息"],[custom-style="待办"],[custom-style="重要"],[custom-style="批注"],[custom-style="引用"],[custom-style*="便签"],[custom-style*="边框"]) {
    animation: QYLattrstyleenter 0.4s cubic-bezier(0.8, 0, 0.9, 1);
}
.viewer-canvas, .viewer-footer{
    animation: QYLtooltipenter 0.6s cubic-bezier(0.8, 0, 0.9, 1) forwards;
}
.protyle-wysiwyg div[fold="1"][data-type="NodeHeading"]:is(.h1, .h2, .h3, .h4, .h5, .h6) {
    animation: QYLtooltipenter 0.6s cubic-bezier(0.8, 0, 0.9, 1) forwards;
}
.protyle-wysiwyg [data-node-id][fold="1"]:not(.li):not([data-type=NodeHeading]) {
    animation: QYLtooltipenter 0.6s cubic-bezier(0.8, 0, 0.9, 1) forwards;
}
[data-key="dialog-confirm"] .b3-dialog__container {
    animation: QYLtooltipenter 0.6s cubic-bezier(0.8, 0, 0.9, 1);
}
/* 数据库 */
.av__celltext.av__celltext--url, .av__celltext--url.b3-chip {
    background-image: linear-gradient(to right, var(--QYL-av-cell-background-hover) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    background-repeat: no-repeat;
    transition: 0.3s cubic-bezier(0.8, 0, 0.9, 1);
    &:hover {
        transition: 0.3s cubic-bezier(0.8, 0, 0.9, 1) !important;
        color: var(--QYL-white);
        background-position: 0 0;
    }
}

[data-key="dialog-emojis"] .b3-dialog__container {
    animation: QYLhintmenuenter 0.4s cubic-bezier(0.8, 0, 0.9, 1);
}
.emojis__item {
    animation: QYLtooltipenter 0.6s cubic-bezier(0.8, 0, 0.9, 1);
}