/* 左 */
#layouts .protyle-content:has(>[contenteditable="true"]) ~ .protyle-toolbar.toolbarl {
  display: flex !important;
  flex-direction: column;
  position: absolute !important;
  top: 50% !important;
  left: 10px !important;
  transform: translateY(-50%);
  animation: none !important;
  border-radius: 8px;
  padding: 1px 0;
  & .protyle-toolbar__item {
      border-radius: 8px;
      margin: 0 1px;
      &::after {
          transform: none !important;
          top: 0 !important;
          bottom: auto !important;
          left: 100% !important;
          right: auto !important;
          margin-left: 0 !important;
      }
  }
  & .protyle-toolbar__divider {
      margin: 0px 2px;
      border-left: none;
      border-bottom: 1px solid var(--b3-theme-surface-lighter);
  }
}
/* 右 */
#layouts .protyle-content:has(>[contenteditable="true"]) ~ .protyle-toolbar.toolbarr {
  display: flex !important;
  flex-direction: column;
  position: absolute !important;
  top: 50% !important;
  right: 35px !important;
  left: auto !important;
  transform: translateY(-50%);
  animation: none !important;
  border-radius: 8px;
  padding: 1px 0;
  & .protyle-toolbar__item {
      border-radius: 8px;
      margin: 0 1px;
      &::after {
          transform: none !important;
          top: 0 !important;
          bottom: auto !important;
          right: 100% !important;
          left: auto !important;
          margin-left: 0 !important;
      }
  }
  & .protyle-toolbar__divider {
      margin: 0px 2px;
      border-left: none;
      border-bottom: 1px solid var(--b3-theme-surface-lighter);
  }
}
/* 上(初始） */
#layouts .protyle-content:has(>[contenteditable="true"]) ~ .protyle-toolbar {
  display: flex !important;
  position: absolute !important;
  top: 30px !important;
  left: 50% !important;
  transform: translateX(-50%);
  animation: none !important;
  border-radius: 8px;
  padding: 0 1px;
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) !important;
  width: auto !important;
  box-shadow: var(--b3-point-shadow),0 0 0 1px rgba(255, 255, 255, 0.12) inset,0 2px 1px -1px rgba(255, 255, 255, 0.2) inset !important;
  & .protyle-toolbar__item {
      border-radius: 8px;
      margin: 1px 1px;
      &::after {
        transform: none !important;
        top: 30px !important;
        bottom: auto !important;
        left: 0 !important;
        right: auto !important;
        margin-left: 0 !important;
    }
  }
}
/* 下 */
#layouts .protyle-content:has(>[contenteditable="true"]) ~ .protyle-toolbar.toolbarb {
  display: flex !important;
  position: absolute !important;
  left: 50% !important;
  top: calc(100% - 50px) !important;
  transform: translateX(-50%);
  animation: none !important;
  border-radius: 8px;
  padding: 0 1px;
  & .protyle-toolbar__item {
      border-radius: 8px;
      margin: 1px 1px;
      &::after {
        transform: none !important;
        top: -32px !important;
        bottom: auto !important;
        left: 0 !important;
        right: auto !important;
        margin-left: 0 !important;
    }
  }
}
#layouts .protyle-content:has(.protyle-title__input[contenteditable="true"]) {
  margin-top: unset;
}