[data-theme-mode="light"] {
    --filetree-line-1: #a0b3d7;
    --filetree-line-2: rgb(176, 170, 207);
    --filetree-line-3: rgb(222, 182, 224);
    --filetree-line-4: rgb(216, 161, 161);
    --filetree-line-5: #e3ba97;
    --filetree-line-6: #dbcc73;
    --filetree-line-7: rgb(143, 202, 135);
    --filetree-line-8: rgb(142, 209, 196);

    --colorful-file-1: #6589cc !important;
    --colorful-file-background-1: rgb(190, 212, 251);
    --colorful-file-2: rgb(143, 134, 190) !important;
    --colorful-file-background-2: rgb(220, 205, 248);
    --colorful-file-3: rgb(198, 132, 203) !important;
    --colorful-file-background-3: rgb(243, 199, 246);
    --colorful-file-4: rgb(207, 98, 98) !important;
    --colorful-file-background-4: rgb(255, 197, 197);
    --colorful-file-5: #e78734 !important;
    --colorful-file-background-5: #ffd2ab;
    --colorful-file-6: #ead55d !important;
    --colorful-file-background-6: #fae988;
    --colorful-file-7: rgb(129, 207, 117) !important;
    --colorful-file-background-7: rgb(177, 245, 167);
    --colorful-file-8: rgb(112, 194, 178) !important;
    --colorful-file-background-8: rgb(164, 236, 222);
}
[data-theme-mode="dark"] {
    --filetree-line-1: rgba(36, 95, 204, 0.5);
    --filetree-line-2: rgba(153, 97, 210, 0.5);
    --filetree-line-3: rgba(192, 93, 177, 0.5);
    --filetree-line-4: rgba(199, 89, 89, 0.5);
    --filetree-line-5: rgba(225, 116, 32, 0.5);
    --filetree-line-6: rgba(182, 169, 23, 0.5);
    --filetree-line-7: rgba(70, 204, 47, 0.5);
    --filetree-line-8: rgba(24, 190, 190, 0.5);

    --colorful-file-1: #274f99 !important;
    --colorful-file-background-1: rgba(21, 66, 149, 0.5);
    --colorful-file-2: #614182 !important;
    --colorful-file-background-2: rgba(89, 46, 132, 0.5);
    --colorful-file-3: rgb(138, 38, 123) !important;
    --colorful-file-background-3: rgba(138, 38, 123, 0.5);
    --colorful-file-4: rgb(137, 31, 31) !important;
    --colorful-file-background-4: rgba(159, 41, 41, 0.5);
    --colorful-file-5: rgb(141, 74, 23) !important;
    --colorful-file-background-5: rgba(188, 90, 15, 0.5);
    --colorful-file-6: rgb(123, 114, 12) !important;
    --colorful-file-background-6: rgba(123, 114, 12, 0.5);
    --colorful-file-7: rgb(45, 127, 30) !important;
    --colorful-file-background-7: rgba(45, 127, 30, 0.5);
    --colorful-file-8: rgb(27, 136, 136) !important;
    --colorful-file-background-8: rgba(0, 132, 132, 0.5);
}

.fn__flex-1.fn__flex-column.file-tree.sy__file ul.b3-list.b3-list--background { margin-left: 20px; }
[data-type="navigation-root"]::before {
    content: "";
    width: 12px;
    height: 28px;
    position: absolute;
    left: -20px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.b3-list:nth-of-type(8n+1)>[data-type="navigation-root"]::before {
    background-color: var(--colorful-file-1) !important;
}
div.sy__file ul:not(ul ul):not(ul.b3-list.fn__flex-column):nth-of-type(8n+1) {
    border-left: 3px solid var(--colorful-file-1);
}
.b3-list:nth-of-type(8n+1)>[data-type="navigation-root"] {
    background-color:var(--colorful-file-background-1) !important;
    & :is(.b3-list-item__toggle .b3-list-item__arrow, [data-type="more-root"], [data-type="new"]) {
        color:var(--colorful-file-1) !important;
    }
}
.b3-list:nth-of-type(8n+2)>[data-type="navigation-root"]::before {
    background-color:var(--colorful-file-2) !important;
}
div.sy__file ul:not(ul ul):not(ul.b3-list.fn__flex-column):nth-of-type(8n+2) {
    border-left: 3px solid var(--colorful-file-2);
}
.b3-list:nth-of-type(8n+2)>[data-type="navigation-root"] {
    background-color: var(--colorful-file-background-2) !important;
    & :is(.b3-list-item__toggle .b3-list-item__arrow, [data-type="more-root"], [data-type="new"]) {
        color:var(--colorful-file-2) !important;
    }
}
.b3-list:nth-of-type(8n+3)>[data-type="navigation-root"]::before {
    background-color:var(--colorful-file-3) !important;
}
div.sy__file ul:not(ul ul):not(ul.b3-list.fn__flex-column):nth-of-type(8n+3) {
    border-left: 3px solid var(--colorful-file-3);
}
.b3-list:nth-of-type(8n+3)>[data-type="navigation-root"] {
    background-color: var(--colorful-file-background-3) !important;
    & :is(.b3-list-item__toggle .b3-list-item__arrow, [data-type="more-root"], [data-type="new"]) {
        color:var(--colorful-file-3) !important; 
    }
}
.b3-list:nth-of-type(8n+4)>[data-type="navigation-root"]::before {
    background-color:var(--colorful-file-4) !important;
}
div.sy__file ul:not(ul ul):not(ul.b3-list.fn__flex-column):nth-of-type(8n+4) {
    border-left: 3px solid var(--colorful-file-4);
}
.b3-list:nth-of-type(8n+4)>[data-type="navigation-root"] {
    background-color: var(--colorful-file-background-4) !important;
    & :is(.b3-list-item__toggle .b3-list-item__arrow, [data-type="more-root"], [data-type="new"]) {
        color:var(--colorful-file-4) !important;
    }
}
.b3-list:nth-of-type(8n+5)>[data-type="navigation-root"]::before {
    background-color:var(--colorful-file-5) !important;
}
div.sy__file ul:not(ul ul):not(ul.b3-list.fn__flex-column):nth-of-type(8n+5) {
    border-left: 3px solid var(--colorful-file-5);
}
.b3-list:nth-of-type(8n+5)>[data-type="navigation-root"] {
    background-color: var(--colorful-file-background-5) !important;
    & :is(.b3-list-item__toggle .b3-list-item__arrow, [data-type="more-root"], [data-type="new"]) {
        color:var(--colorful-file-5) !important;
    }
}
.b3-list:nth-of-type(8n+6)>[data-type="navigation-root"]::before {
    background-color:var(--colorful-file-6) !important;
}
div.sy__file ul:not(ul ul):not(ul.b3-list.fn__flex-column):nth-of-type(8n+6) {
    border-left: 3px solid var(--colorful-file-6);
}
.b3-list:nth-of-type(8n+6)>[data-type="navigation-root"] {
    background-color: var(--colorful-file-background-6) !important;
    & :is(.b3-list-item__toggle .b3-list-item__arrow, [data-type="more-root"], [data-type="new"]) {
        color:var(--colorful-file-6) !important;
    }
}
.b3-list:nth-of-type(8n+7)>[data-type="navigation-root"]::before {
    background-color:var(--colorful-file-7) !important;
}
div.sy__file ul:not(ul ul):not(ul.b3-list.fn__flex-column):nth-of-type(8n+7) {
    border-left: 3px solid var(--colorful-file-7);
}
.b3-list:nth-of-type(8n+7)>[data-type="navigation-root"] {
    background-color: var(--colorful-file-background-7) !important;
    & :is(.b3-list-item__toggle .b3-list-item__arrow, [data-type="more-root"], [data-type="new"]) {
        color:var(--colorful-file-7) !important;
    }
}
.b3-list:nth-of-type(8n)>[data-type="navigation-root"]::before {
    background-color:var(--colorful-file-8) !important;
}
div.sy__file ul:not(ul ul):not(ul.b3-list.fn__flex-column):nth-of-type(8n) {
    border-left: 3px solid var(--colorful-file-8);
}
.b3-list:nth-of-type(8n)>[data-type="navigation-root"] {
    background-color:var(--colorful-file-background-8) !important;
    & :is(.b3-list-item__toggle .b3-list-item__arrow, [data-type="more-root"], [data-type="new"]) {
        color:var(--colorful-file-8) !important;
    }
}

/* 手机端多彩文档树 */
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 .b3-list .b3-list-item { margin-top: 0; margin-bottom: 0;}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 .b3-list.b3-list--background { margin-left: 20px; }
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul > li[data-type="navigation-root"]::before {
    content: "";
    width: 14px;
    height: 40px;
    position: absolute;
    left: -22px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+1) > li[data-type="navigation-root"]::before {
    background-color: var(--colorful-file-1) !important;
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+1) {
    border-left: 3px solid var(--colorful-file-1);
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+2) > li[data-type="navigation-root"]::before {
    background-color: var(--colorful-file-2) !important;
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+2) {
    border-left: 3px solid var(--colorful-file-2);
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+3) > li[data-type="navigation-root"]::before {
    background-color: var(--colorful-file-3) !important;
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+3) {
    border-left: 3px solid var(--colorful-file-3);
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+4) > li[data-type="navigation-root"]::before {
    background-color: var(--colorful-file-4) !important;
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+4) {
    border-left: 3px solid var(--colorful-file-4);
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+5) > li[data-type="navigation-root"]::before {
    background-color: var(--colorful-file-5) !important;
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+5) {
    border-left: 3px solid var(--colorful-file-5);
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+6) > li[data-type="navigation-root"]::before {
    background-color: var(--colorful-file-6) !important;
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+6) {
    border-left: 3px solid var(--colorful-file-6);
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+7) > li[data-type="navigation-root"]::before {
    background-color: var(--colorful-file-7) !important;
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+7) {
    border-left: 3px solid var(--colorful-file-7);
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n) > li[data-type="navigation-root"]::before {
    background-color: var(--colorful-file-8) !important;
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n) {
    border-left: 3px solid var(--colorful-file-8);
}