:root {
    --QYL-immerse-fusion-fix-5: 1px solid var(--b3-theme-surface-lighter);
    --QYL-immerse-flat-fix-1: var(--b3-theme-background);
    --QYL-immerse-flat-fix-2: var(--b3-theme-surface);
    --QYL-vertical-fix-1: 1px solid var(--b3-theme-surface-lighter);
}
a {
    --b3-theme-primary: var(--QYL-flat-second);
}
/* 按钮 */
.b3-button {
    --b3-theme-primary: var(--QYL-flat-primary);
}
#barWorkspace {
    background-color:rgba(255, 0, 0, 0);
    height: 22px;
    min-width: 30px;
    & span.toolbar__text {
        color: var(--b3-toolbar-color);
        line-height: 12px;
    }
    &:hover {
        background-color: var(--QYL-flat-second) !important;
        & span.toolbar__text {
            color: var(--b3-theme-background);
        }
    }
}
.b3-button:hover, .b3-button:focus, .b3-button--progress {
    box-shadow: none;
}
div[data-key="dialog-opencard"] .b3-button:is([data-type="-2"], [data-type="-3"], [data-type="1"], [data-type="2"], [data-type="3"], [data-type="4"]) {
    box-shadow: none;
}
/* 悬停 */
.b3-menu__item--selected {
    --b3-theme-primary: var(--QYL-flat-primary);
}
.dock__item:hover:not(.dock__item--activefocus), .dock__item--active {
    background-color:rgba(255, 0, 0, 0);
    color: var(--QYL-flat-second);
}
.toolbar__item:not(.toolbar__item--disabled):not(.toolbar__item--close):hover, .toolbar__item--active {
    background-color: rgba(255, 0, 0, 0);
    color: var(--QYL-flat-second);
}
.block__icon:hover:not([disabled]):not(.ft__primary):not(.block__icon--warning), .block__icon--active {
    background-color: rgba(255, 0, 0, 0);
    color: var(--QYL-flat-second) !important;
}
.b3-list-item__action:hover {
    background-color: rgba(255, 0, 0, 0);
    color: var(--QYL-flat-second);
}
.file-tree .b3-list-item .b3-list-item__toggle:hover .b3-list-item__arrow {
    color: var(--QYL-flat-second);
}
[data-theme-mode="light"] {
    & .dock__item:hover:not(.dock__item--activefocus), .dock__item--active {
        color: var(--QYL-flat-primary);
    }
    & .toolbar__item:not(.toolbar__item--disabled):not(.toolbar__item--close):hover, .toolbar__item--active {
        color: var(--QYL-flat-primary);
    }
    & .block__icon:hover:not([disabled]):not(.ft__primary):not(.block__icon--warning), .block__icon--active {
        color: var(--QYL-flat-primary) !important;
    }
    & .b3-list-item__action:hover {
        color: var(--QYL-flat-primary);
    }
    & .file-tree .b3-list-item .b3-list-item__toggle:hover .b3-list-item__arrow {
        color: var(--QYL-flat-primary);
    }
}
.b3-list--background .b3-list-item:hover:not(.b3-list-item--focus):not(.dragover):not(.dragover__current):not(.dragover__top):not(.dragover__bottom), .b3-list--background .b3-list-item--focus {
    background-color: rgba(255, 0, 0, 0);
    color: var(--QYL-flat-second);
    & .b3-list-item__text {
        color: var(--QYL-flat-second);
    }
    & .b3-list-item__meta {
        color: var(--QYL-flat-primary);
    }
}
.b3-menu__item--show {
    background-color: var(--QYL-flat-second);
    & > :is(.b3-menu__icon, .b3-menu__label, .b3-menu__accelerator, .b3-menu__action, .b3-menu__checked) {
        color: var(--b3-theme-background);
    }
    &.b3-menu__item--warning {
        background-color: var(--b3-theme-error);
    }
}
.b3-menu__item--current:not(.b3-menu__item--readonly) {
    background-color: var(--QYL-flat-second);
    & > :is(.b3-menu__icon, .b3-menu__label, .b3-menu__accelerator, .b3-menu__action, .b3-menu__checked) {
        color: var(--b3-theme-background);
    }
    &.b3-menu__item--warning {
        background-color: var(--b3-theme-error);
    }
}
.file-tree .b3-list--background .b3-list-item--focus {
    background-color: rgba(255, 0, 0, 0);
    color: var(--QYL-flat-second);
}
.secondaryToolbarButton:hover {
    background-color: var(--QYL-flat-second);
    & > :is(.b3-menu__icon, .b3-menu__label, .b3-menu__accelerator, .b3-menu__action, .b3-menu__checked) {
        color: var(--b3-theme-background);
    }
}
.pdf__util .b3-menu__item:hover {
    background-color: var(--QYL-flat-second);
    & .b3-menu__icon, .b3-menu__label, .b3-menu__accelerator {
        color: var(--b3-theme-background);
    }
    &[data-type="remove"] {
        background-color: var(--b3-theme-error);
    }
}
.av__panel .b3-menu__item:not([data-type=nobg]):hover, .av__panel .b3-menu__item--current:not([data-type=nobg]) {
    background-color: var(--QYL-flat-second);
    & > :is(.b3-menu__icon, .b3-menu__label, .b3-menu__accelerator, .b3-menu__action, .b3-menu__checked, .fn__flex-center) {
        color: var(--b3-theme-background);
    }
    &[data-type="removeCol"] {
        background-color: var(--b3-theme-error);
    }
}
[data-theme-mode="dark"] :is(#minWindow, #restoreWindow, #maxWindow):hover {
    color: var(--b3-theme-background);
}
/* 主界面 */
.dock--vertical {
    width: 40px;
}
:is(.layout__dockl, .layout__dockr, .layout__dockb) > :is(.fn__flex-1, .fn__flex, .fn__flex-column) > [data-type="wnd"] > .layout-tab-container {
    border: 1px solid var(--b3-theme-surface-lighter);
}
.layout__center :is(.fn__flex-1, .fn__flex, .fn__flex-column) [data-type="wnd"] > .fn__flex {
    & .layout-tab-bar:not(.layout-tab-bar--readonly) {
        border: 1px solid var(--b3-theme-surface-lighter);
        border-bottom: none;
        border-right: none;
    }
    & .layout-tab-bar.layout-tab-bar--readonly {
        border: 1px solid var(--b3-theme-surface-lighter);
        border-bottom: none;
        border-left: none;
    }
}
.layout__center :is(.fn__flex-1, .fn__flex, .fn__flex-column) [data-type="wnd"] > .layout-tab-container {
    border: 1px solid var(--b3-theme-surface-lighter);
}
/* 页签 */
.layout-tab-bar .item:not(.layout-tab-bar .item--readonly):not(.item.item--focus) {
    background-color: var(--b3-theme-surface);
    outline: 1px solid var(--b3-theme-surface-lighter);
}
.layout-tab-bar .item:not(.layout-tab-bar .item--readonly):not(.item.item--focus):hover {
    background-color:var(--b3-theme-surface);
    outline: 1px solid var(--b3-theme-surface-lighter);
}
.item.item--focus {
    background-color:var(--b3-theme-background);
    outline: 1px solid var(--b3-theme-surface-lighter);
}
.item.item--focus:hover {
    background-color:var(--b3-theme-background);
    outline: 1px solid var(--b3-theme-surface-lighter);
}
.layout-tab-bar .item {
    --QYL-tab-close-background-hover-close: var(--QYL-flat-primary);
}
.b3-menu__action.b3-menu__action--close {
    color: var(--b3-theme-background);
    &:hover {
        color: var(--b3-theme-error); 
    }
}
/* 面包屑 */
.protyle-breadcrumb button[data-type="exit-focus"] {
    --b3-theme-primary: var(--QYL-flat-primary);
}
/* 阴影 */
#QYLsettings-window {
    box-shadow: none !important;
}
.b3-menu, .b3-dialog__container, .b3-menu__submenu, .secondaryToolbar {
    box-shadow: none;
}
#status {
    box-shadow: none;
}
.tooltip {
    box-shadow: none;
}  
[class*="b3-tooltips"]::after {
    box-shadow: none;
}
#message .b3-snackbar__content {
    box-shadow: none;
}

/* 集市 */
.config-bazaar__panel .b3-card {
    box-shadow: none;
    outline: 1px solid var(--b3-theme-surface-lighter);
}
div[data-key="dialog-setting"] .b3-dialog__container .config__tab-wrap .config-bazaar__panel .fn__flex.config-bazaar__title button:is([data-type="myPlugin"], [data-type="myTheme"], [data-type="myIcon"], [data-type="myTemplate"], [data-type="myWidget"]) {
    background-color: rgba(255, 0, 0, 0) !important;
    color: var(--b3-theme-on-surface);
    border: none;
    box-shadow: none !important;
    font-weight: bold;
    &:focus {
        background-color: rgba(255, 0, 0, 0) !important;
        color: var(--QYL-flat-second) !important;
        border: none;
        box-shadow: none !important;
        border: none;
        box-shadow: none !important;
    }
    &:not(.b3-button--outline) {
        background-color: rgba(255, 0, 0, 0) !important;
        color: var(--QYL-flat-second) !important;
        border: none;
        box-shadow: none !important;
        border: none;
        box-shadow: none !important;
    }
    &:hover {
        background-color: rgba(255, 0, 0, 0) !important;
        color: var(--QYL-flat-second);
        border: none;
        box-shadow: none !important;
        border: none;
        box-shadow: none !important;
    }
}
/* 排版元素 */
.protyle-wysiwyg .li.protyle-task--done>.protyle-action--task, .av__cell-check, .protyle-wysiwyg .li[data-subtype=t] .protyle-action--task, .av__cell-uncheck {
    --QYL-task-block: var(--QYL-flat-primary);
}
:root {
    --QYL-lihelp: var(--QYL-flat-primary);
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag] {
    background-color: var(--QYL-flat-second);
    &:hover {
        background-color: var(--QYL-flat-primary) !important;
    }
}
.b3-typography span[data-type~=inline-memo], .protyle-wysiwyg span[data-type~=inline-memo] {
    background-color:rgb(from var(--QYL-flat-second) r g b / 20%);
    border-bottom: 2px solid var(--QYL-flat-second);
}
.tooltip.tooltip--memo {
    box-shadow: none !important;
    border: 1px solid var(--b3-theme-surface-lighter);
}
/* 编辑器工具栏 */
.protyle-toolbar {
    box-shadow: none;
    border: 1px solid var(--b3-theme-surface-lighter);
}
.protyle-hint, .protyle-util {
    box-shadow: none;
    border: 1px solid var(--b3-theme-surface-lighter);
}
/* 斜杠菜单 */
.protyle-hint.hint--menu {
    box-shadow: none;
    border: 1px solid var(--b3-theme-surface-lighter);
}
/* 块标 */
.protyle-gutters button:hover svg {
    color: var(--QYL-flat-primary); 
}
.protyle-title.protyle-wysiwyg--attr span.protyle-title__icon.ariaLabel:hover svg {
    color: var(--QYL-flat-primary); 
}
.block__popover {
    box-shadow: none;
    border: 1px solid var(--b3-theme-surface-lighter);
    background-color: var(--b3-theme-surface);
    & .block__icons.block__icons--menu {
        background-color: var(--b3-theme-surface);
    }
}
/* 设置 */
div[data-key="dialog-setting"] .config__tab-wrap {
    border: 1px solid var(--b3-theme-surface-lighter);
}
/* 命令面板 */
div[data-key="dialog-commandpanel"] .b3-dialog__body .fn__flex-column .b3-list.b3-list--background.search__list {
    border: 1px solid var(--b3-theme-surface-lighter);
}
/* 搜索 */
:is(div[data-key="dialog-globalsearch"], div[data-key="dialog-search"]) .b3-form__icon.search__header {
    border: 1px solid var(--b3-theme-surface-lighter);
}
:is(div[data-key="dialog-globalsearch"], div[data-key="dialog-search"]) .search__header[id="criteria"] {
    border: 1px solid var(--b3-theme-surface-lighter);
}
:is(div[data-key="dialog-globalsearch"], div[data-key="dialog-search"]) .search__preview {
    border: 1px solid var(--b3-theme-surface-lighter);
}
:is(div[data-key="dialog-globalsearch"], div[data-key="dialog-search"]) #searchList {
    border: 1px solid var(--b3-theme-surface-lighter);
    & :is([data-type="search-item"]:hover, [data-type="search-item"].b3-list-item--focus) .b3-list-item__meta {
        color: var(--QYL-flat-primary);
    }
}
:is(#searchList, #searchUnRefList, #searchAssetList) .b3-list-item mark {
    background-color: var(--QYL-flat-primary);
}
#searchAssetPreview mark {
    background-color: var(--QYL-flat-primary);
}
/* 侧栏 */
.graph__panel {
    box-shadow: none;
    border: 1px solid var(--b3-theme-surface-lighter);
}
/* PDF */
#dialogContainer>.dialog--open {
    box-shadow: none !important;
    border: 1px solid var(--b3-theme-surface-lighter);
}
.textLayer .highlight.selected {
    background-color: rgb(from var(--QYL-flat-primary) r g b / 35%);
}
#findbar .b3-button--small.b3-button--outline {
    border: none;
    box-shadow: none !important;
    color: var(--b3-theme-on-background);
    &:hover {
        border: none;
        box-shadow: none !important;
        color: var(--QYL-flat-primary);
        background-color: rgba(255, 0, 0, 0);
    }
    &::before {
        display: none !important;
    }
}
#findbar .b3-button--small:not(.b3-button--outline) {
    border: none;
    box-shadow: none !important;
    color: var(--QYL-flat-primary);
    background-color: rgba(255, 0, 0, 0);
    &:hover {
        border: none;
        box-shadow: none !important;
        color: var(--QYL-flat-primary);
        background-color: rgba(255, 0, 0, 0);
    }
    &::before {
        display: none !important;
    }
}
#findbar [data-status="notFound"] {
    color: var(--b3-theme-error) !important;
}
/* 状态栏 */
.status .toolbar__item:hover {
    background-color: rgba(255, 0, 0, 0) !important;
}
/* 文档层级导航插件适配 */
[id^="og_plugintemplate"] .b3-text-field:not(.b3-text-field--text), [id^="og_plugintemplate"] .b3-text-field:not(.b3-text-field--text):focus, [id^="og_plugintemplate"] .pcr-app .pcr-interaction .pcr-result:not(.b3-text-field--text):focus {
    outline: none;
    background-color: var(--b3-theme-surface-lighter);
}
.og-hn-container-multiline .og-hierachy-navigate-doc-indicator, .og-hn-create-at-content, .og-hn-modify-at-content, .og-hn-child-word-count-content, .og-hn-child-doc-count-content {
    --b3-theme-primary: var(--QYL-flat-second);
}
.arco-tabs-tab-active, .arco-tabs-tab-active:hover {
    --b3-theme-primary: var(--QYL-flat-second);
}
.arco-tabs-nav-ink {
    --b3-theme-primary: var(--QYL-flat-second);
}
.arco-select-view-single {
    --b3-theme-primary: var(--QYL-flat-second);
}
.arco-select-view-single:focus-within, .arco-select-view-single.arco-select-view-focus, .arco-select-view-single:hover {
    --b3-theme-primary: var(--QYL-flat-second);
}
[data-v-app] .arco-picker-cell:not(.arco-picker-cell-selected).arco-picker-cell-in-view .exist {
    --b3-theme-primary: var(--QYL-flat-second);
}
.arco-picker-cell-today:after {
    --b3-theme-primary: var(--QYL-flat-second);
}
.arco-picker-cell-selected .arco-picker-date-value {
    --b3-theme-primary: var(--QYL-flat-second);
}
.arco-picker-cell:not(.arco-picker-cell-selected).arco-picker-cell-in-view .arco-picker-date-value:hover {
    --b3-theme-primary: var(--QYL-flat-second);
}
.arco-picker-header-title, .arco-picker-week-list-item {
    --b3-theme-primary: var(--QYL-flat-second);
}
.arco-picker-header-icon {
    --b3-theme-primary: var(--QYL-flat-second);
}
.arco-btn-secondary, .arco-btn-secondary[type=button], .arco-btn-secondary[type=submit] {
    --b3-theme-primary: var(--QYL-flat-second);
}
.arco-select-view-single {
    border: none !important;
    box-shadow: none !important;
    background-color: var(--b3-theme-surface-lighter) !important;
    &:hover {
        border: none !important;
        box-shadow: none !important;
    }
}
.arco-select-view-single:focus-within, .arco-select-view-single.arco-select-view-focus, .arco-select-view-single:hover {
    border: none !important;
    box-shadow: none !important;
}
.protyle-hint .b3-list-item[data-value^="plugin"][data-value*="sy-insert-time"] {
    & b {
        color: var(--QYL-flat-second);
    }
}
/* 分割线 */
#layouts .layout__resize.layout__resize--lr::after {
    width: 0.5px;
    background-color: var(--b3-theme-primary);
    transform: translateX(2.5px);
}
#layouts .layout__resize:not(.layout__resize--lr)::after {
    height: 0.5px;
    background-color: var(--b3-theme-primary);
    transform: translateY(0);
}
.search__drag::after {
    height: 1px;
    background-color: var(--b3-theme-primary);
    transform: translateY(2.5px);
}
.search__drag:hover::after {
    background-color: var(--b3-theme-primary);
}
.search__layout--row .search__drag::after {
    width: 1px;
    background-color: var(--b3-theme-primary);
    transform: translateX(2.5px);
}