/* 文档层级导航插件 */
[id^="og_plugintemplate"] .b3-text-field:not(.b3-text-field--text), [id^="og_plugintemplate"] .b3-text-field:not(.b3-text-field--text):focus, [id^="og_plugintemplate"] .pcr-app .pcr-interaction .pcr-result:not(.b3-text-field--text):focus {
    box-shadow: none;
}
[id^="og_plugintemplate"] h4 {
    color: var(--b3-theme-primary);
}
.og-hierachy-navigate-doc-container span.docLinksWrapper {
    background-color: var(--QYL-hover-light) !important;
    border-radius: var(--b3-border-radius) !important;
    transition: var(--b3-transition);
}
.og-hierachy-navigate-doc-container span.docLinksWrapper:hover {
    background-color: var(--b3-theme-primary) !important;
    color: var(--QYL-white) !important;
}
[data-theme-mode="dark"] .og-hierachy-navigate-doc-container span.docLinksWrapper {
    background-color: var(--QYL-hover-light) !important;
    border-radius: var(--b3-border-radius) !important;
    transition: var(--b3-transition);
}
[data-theme-mode="dark"] .og-hierachy-navigate-doc-container span.docLinksWrapper:hover {
    background-color: var(--QYL-hover) !important;
    color: var(--QYL-white) !important;
}
.og-hn-heading-docs-container .og-fake-breadcrumb-arrow-span .og-hierachy-navigate-breadcrumb-arrow {
    color: var(--QYL-filetree-arrow) !important;
}
.og-hn-doc-none-word {
    background-color: rgba(255, 0, 0, 0.203) !important;
    border-radius: var(--b3-border-radius) !important;
}
.og-hierachy-navigate-doc-container span.docLinksWrapper.og-hn-docLinksWrapper-hl {
    border: none !important;
    background-color: var(--b3-theme-primary) !important;
    color: var(--QYL-white) !important;
}
[data-theme-mode="dark"] .og-hierachy-navigate-doc-container span.docLinksWrapper.og-hn-docLinksWrapper-hl {
    border: none !important;
    background-color: var(--QYL-hover) !important;
    color: var(--QYL-white) !important;
}
.og-hn-create-at-content, .og-hn-modify-at-content, .og-hn-child-word-count-content, .og-hn-child-doc-count-content {
    color: var(--b3-theme-primary) !important;
}
.og-hn-container-multiline .og-hierachy-navigate-doc-indicator {
    color: var(--b3-theme-primary) !important;
    font-weight: 600 !important;
}
.arco-tooltip-content {
    background-color: var(--b3-theme-background) !important;
    color: var(--b3-theme-on-background) !important;
    border: 0.5px solid var(--b3-theme-surface-lighter) !important;
    box-shadow: var(--b3-light-shadow) !important;
    --border-radius-small: var(--b3-border-radius);
    padding: 4px 8px !important;
    font-size: 12px !important;
}
.arco-tooltip-popup-arrow {
    display: none !important;
}
/* 日历面板插件 */
.arco-tabs-tab-active, .arco-tabs-tab-active:hover {
    color: var(--b3-theme-primary) !important;
}
.arco-tabs-nav-ink {
    background-color: var(--b3-theme-primary) !important;
}
.arco-select-view-single {
    border-radius: var(--b3-border-radius) !important;
    border: 1px solid var(--b3-theme-primary) !important;
    background-color: var(--b3-theme-background) !important;
}
.arco-select-view-single:focus-within, .arco-select-view-single.arco-select-view-focus, .arco-select-view-single:hover {
    border: 1.5px solid var(--b3-theme-primary) !important;
}
[data-v-app] .arco-picker-cell:not(.arco-picker-cell-selected).arco-picker-cell-in-view .exist {
    color: var(--b3-theme-primary) !important;
}
.arco-picker-cell-today:after {
    background-color: var(--b3-theme-primary) !important;
}
.arco-picker-cell-selected .arco-picker-date-value {
    background-color: var(--b3-theme-primary) !important;
}
.arco-picker-cell:not(.arco-picker-cell-selected).arco-picker-cell-in-view .arco-picker-date-value:hover {
    border-color: var(--b3-theme-primary) !important;
}
.arco-picker-header-title, .arco-picker-week-list-item {
    font-weight: bold;
    color: var(--b3-theme-primary) !important;
}
.arco-picker-header-icon {
    color: var(--b3-theme-primary) !important;
}
.arco-btn-secondary, .arco-btn-secondary[type=button], .arco-btn-secondary[type=submit] {
    border-radius: var(--b3-border-radius) !important;
    color: var(--b3-theme-primary) !important;
    background-color: rgba(255, 0, 0, 0) !important;
    border: 1px solid var(--b3-theme-primary) !important;
    padding: 2px 8px !important;
    overflow: hidden !important;
    &:before {
        content: "";
        background-color: rgba(255,255,255,0.5);
        height: 100%;
        width: 1em;
        display: block;
        position: absolute;
        top: 0;
        left: -4.5em;
        transform: skewX(-45deg) translateX(0);
        transition: none;
      }
      &:hover {
        background-color: var(--b3-theme-primary) !important;
        color: var(--QYL-white) !important;
        &:before {
          transform: skewX(-45deg) translateX(13.5em);
          transition: var(--b3-transition-slow) !important;
       }
      }
      &:focus {
        background-color: var(--b3-theme-primary) !important;
        color: var(--QYL-white);
        &:before {
          transform: skewX(-45deg) translateX(13.5em);
          transition: var(--b3-transition-slow);
        }
      }
}


/* 插入时间插件 */
.protyle-hint .b3-list-item[data-value^="plugin"][data-value*="sy-insert-time"] {
    font-size: 90%;
    & b {
        color: var(--b3-theme-primary);
    }
} 

/**********************************************************叶归插件**********************************************************/
.enSettingsModuleSelectorList[data-v-3534fc37] {
    background-color: var(--b3-theme-surface) !important;
}
.SyEnhancerDialogTitle[data-v-3534fc37] {
    color: var(--b3-theme-primary) !important;
}
.arco-btn-primary, .arco-btn-primary[type=button], .arco-btn-primary[type=submit] {
    border-radius: var(--b3-border-radius);
    background-color: var(--b3-theme-primary) !important;
    &:hover {
        filter: brightness(0.9);
    }
    &:active {
        transform: scale(0.95);
    }
}
.arco-btn-outline.arco-btn-status-danger {
    border-radius: var(--b3-border-radius);
    color: var(--b3-theme-error) !important;
    border-color: var(--b3-theme-error) !important;
    &:hover {
        background-color: var(--b3-theme-error) !important;
        color: var(--b3-theme-on-error) !important;
    }
}
.settingItemOptionArea .arco-input-number, .settingItemOptionArea .arco-select {
    background-color: var(--b3-theme-background) !important;
    outline:2px solid rgb(from var(--b3-theme-primary) r g b / 60%);
    box-shadow: none !important;
    border: none !important;
    border-radius: var(--b3-border-radius);
}
.arco-switch {
    background-color: var(--QYL-switch-close-background) !important;
}
.arco-switch-checked {
    background-color: var(--b3-theme-primary) !important;
}
.arco-switch-handle {
    color: var(--QYL-switch-close) !important;
}
.arco-switch-checked .arco-switch-handle {
    color: var(--b3-switch-checked) !important;
}
.arco-select-dropdown {
    border-radius: var(--b3-border-radius) !important;
    background-color: var(--b3-theme-background) !important;
    & .arco-select-option {
        border-radius: var(--b3-border-radius) !important;
        background-color: var(--b3-theme-background) !important;
        &:hover {
            background-color: var(--QYL-hover) !important;
        }
    }
}
.arco-input-wrapper {
    background-color: var(--b3-theme-background) !important;
}
.arco-input-prepend, .arco-input-append {
    background-color: var(--b3-theme-background) !important;
    & .arco-btn {
        border: none !important;
    }
}
.arco-radio-checked .arco-radio-icon {
    background-color: var(--b3-theme-primary) !important;
    border-color: var(--b3-theme-primary) !important;
}
.arco-textarea-wrapper {
    border-radius: var(--b3-border-radius) !important;
}
.arco-textarea {
    background-color: var(--b3-theme-background) !important;
}
.arco-textarea-wrapper:focus-within, .arco-textarea-wrapper.arco-textarea-focus {
    box-shadow: none !important;
    border-color: transparent !important;
    outline:2px solid rgb(from var(--b3-theme-primary) r g b / 60%);
}
.arco-slider-bar {
    background-color: var(--b3-theme-primary) !important;
}
.arco-slider-btn:after {
    border-color: var(--b3-theme-primary);
    background: var(--b3-theme-background) !important;
}
.arco-slider-track:before {
    background-color: var(--b3-theme-background) !important;
}
.arco-drawer-header {
    border-bottom: none !important;
}
.enSettingsModuleSelectorList .moduleSelectorItem.moduleSelectorItem__Actived[data-v-3534fc37] {
    background-color: var(--QYL-hover) !important;
}
.enSettingsModuleSelectorList.isNotMobile .moduleSelectorItem[data-v-3534fc37]:hover {
    background-color: var(--QYL-hover) !important;
}
.arco-scrollbar-thumb-bar {
    background-color: var(--b3-scroll-color) !important;
}
.arco-input-wrapper:focus-within, .arco-input-wrapper.arco-input-focus {
    border-color: transparent !important;
}
.arco-select-view-single {
    border: none !important;
    &:hover {
        outline:2px solid rgb(from var(--b3-theme-primary) r g b / 60%);
    }
}
.arco-btn-text:hover, .arco-btn-text[type=button]:hover, .arco-btn-text[type=submit]:hover {
    background-color: var(--QYL-hover) !important;
}
.EnLifelogTypeItemInput[data-v-c1b37c58] {
    border-radius: var(--b3-border-radius) !important;
    padding-left: 0 !important;
}
.arco-color-picker {
    border-radius: var(--b3-border-radius) !important;
}
.arco-color-picker-preview {
    border-radius: var(--b3-border-radius);
}
/* 页签 */
.layout__center [data-v-app] .fn__flex-1.en-leaf-panel--tab .en-dock {
    background-color: var(--b3-theme-background);
}
/* 侧栏 */
:is(.en-leaf-panel--dock, .en-leaf-panel--tab) .memo-calendar .calendar-header .year-month-selector .nav-btn:hover {
    background-color: var(--QYL-hover) !important;
}
:is(.en-leaf-panel--dock, .en-leaf-panel--tab) .memo-calendar .calendar-header .year-month-selector .current-date:hover {
    background-color: var(--QYL-hover) !important;
}
:is(.en-leaf-panel--dock, .en-leaf-panel--tab) .memo-calendar .calendar-body .calendar-days .day:hover {
    background-color: var(--QYL-hover) !important;
}
:is(.en-leaf-panel--dock, .en-leaf-panel--tab) .en-user-memo .memo-top-area .memo-dots .dot.active {
    opacity: 1 !important;
    background: var(--QYL-hover-hover) !important;
}
:is(.en-leaf-panel--dock, .en-leaf-panel--tab) .en-user-memo .memo-top-area .memo-dots .dot {
    opacity: 1 !important;
    background: var(--QYL-hover) !important;
}
:is(.en-leaf-panel--dock, .en-leaf-panel--tab) .memo-actions .filter-btn:hover, :is(.en-leaf-panel--dock, .en-leaf-panel--tab) .memo-actions .filter-btn.active {
    background-color: var(--b3-theme-primary) !important;
    & > * {
        fill: var(--b3-theme-on-primary) !important;
        color: var(--b3-theme-on-primary) !important;
    }
}
:is(.en-leaf-panel--dock, .en-leaf-panel--tab) .display-mode-switcher .switcher-options .switcher-option:hover, :is(.en-leaf-panel--dock, .en-leaf-panel--tab) .display-mode-switcher .switcher-options .switcher-option.active {
    background-color: var(--b3-theme-primary) !important;
    & > * {
        fill: var(--b3-theme-on-primary) !important;
        color: var(--b3-theme-on-primary) !important;
    }
}
:is(.en-leaf-panel--dock, .en-leaf-panel--tab) .display-mode-switcher .switcher-title {
    font-weight: bold !important;
    color: var(--b3-theme-primary) !important;
}
.memo-timeline .timeline-container .timeline-item .timeline-meta .timeline-dot {
    top: 2px !important;
}
.memo-timeline .timeline-container .timeline-item .timeline-meta .timeline-time {
    font-weight: bold;
    color: var(--b3-theme-primary) !important;
}
.memo-timeline .timeline-container .timeline-item .timeline-content .memo-card {
    border: none !important;
    box-shadow: var(--b3-light-shadow);
    transition: transform .2s,box-shadow .2s;
    &:hover {
        box-shadow: var(--b3-point-shadow) !important;
        transform: translateY(-2px);
    }
}
.memo-timeline .timeline-container:before {
    width: 2px !important;
    background-color: var(--b3-theme-primary-lighter) !important;
}
.card-content .memo-card-item .memo-card-header {
    background-color: var(--b3-theme-surface);
}
.card-content .memo-card-item {
    box-shadow: var(--b3-light-shadow) !important;
    &:hover {
        box-shadow: var(--b3-point-shadow) !important;
    }
}
.gallery-content .gallery-item {
    box-shadow: var(--b3-light-shadow) !important;
    &:hover {
        box-shadow: var(--b3-point-shadow) !important;
    }
}
.waterfall-content .waterfall-item {
    box-shadow: var(--b3-light-shadow) !important;
    &:hover {
        box-shadow: var(--b3-point-shadow) !important;
    }
}
.enCommentListContainerContent .enCommentListContainerContentHistoryCommentList .historyCommentList[data-v-211a7abd] .arco-card {
    border: none !important;
    box-shadow: var(--b3-light-shadow) !important;
    &:hover {
        box-shadow: var(--b3-point-shadow) !important;
    }
}
.gallery-content .gallery-item .gallery-item-footer .gallery-item-actions .action-icon:hover,
.card-content .memo-card-item .memo-card-header .memo-card-actions .action-icon:hover,
.memo-timeline .timeline-container .timeline-item .timeline-content .memo-card .card-actions .action-icon:hover,
.waterfall-content .waterfall-item .waterfall-item-footer .waterfall-item-actions .action-icon:hover {
    background-color: var(--QYL-hover) !important;
}
.year-month-picker .month-grid .month-item:hover {
    background-color: var(--QYL-hover) !important;
}
.display-mode-switcher .switcher-options .switcher-option {
    border: 1px solid var(--b3-theme-surface-lighter);
    background-color: var(--b3-theme-surface);
}
.EnDockHeader[data-v-d1ec325e] {
    height: 42px;
    padding: 0 8px !important;
    border-bottom: none !important;
    & .enSettingItemAreaHeading {
        font-size: 14px !important;
        margin-left: 8px;
    }
}
.enSettingsModuleSelectorList .moduleSelectorItem.moduleSelectorItem__Actived[data-v-3c9a5ca9], .enSettingsModuleSelectorList.isNotMobile .moduleSelectorItem[data-v-3c9a5ca9]:hover {
    background-color: var(--QYL-hover) !important;
}
.SyEnhancerDialogTitle[data-v-3c9a5ca9] {
    color: var(--b3-theme-primary) !important;
}
/* 手机端 */
.QYLmobile .enToolbar {
    background-color: var(--b3-theme-primary-light) !important;
}
.QYLmobile .MobileNavContainer .NavList .NavItem .NavItemIcon[data-v-e93ab6cb] {
    color: var(--b3-theme-on-primary) !important;
    & svg {
        color: var(--b3-theme-on-primary) !important;
    }
}
/* 底部反链 */
.EnBottomBacklinkRenderArea .EnBottomBacklinkRenderAreaHeader[data-v-47e886d9] {
    background-color: var(--QYL-hover) !important;
    &:hover {
        background-color: var(--QYL-hover-hover) !important;
    }
}
.arco-collapse-item-header-title {
    font-weight: bold !important;
    color: var(--b3-theme-primary) !important;
}
.arco-collapse-item-active>.arco-collapse-item-header .arco-collapse-item-header-title {
    font-weight: bold !important;
    color: var(--b3-theme-primary) !important;
}
.backlinkSearchArea .arco-card[data-v-da27988f] {
    background: var(--b3-theme-background) !important;
    box-shadow: var(--b3-light-shadow);
}
.backlinkArea[data-v-0972d62c] .backlinkDocsArea .arco-collapse-item-header:hover  {
    background-color: var(--QYL-hover) !important;
}
body[arco-theme=dark] .arco-card-grid-hoverable:hover:before, body[arco-theme=dark] .arco-card-hoverable:hover {
    box-shadow: var(--b3-light-shadow) !important;
}
/* lifelog */
.EnLifeLogWeekGraphModal {
    background-color: var(--b3-theme-surface) !important;
}
.EnLifeLogWeekGraphModalTitle {
    & > .title {
        font-weight: bold;
        color: var(--b3-theme-primary);
    }
    & .arco-picker {
        border-radius: var(--b3-border-radius);
        background-color: var(--b3-theme-background) !important;
    }
    & .arco-picker-focused, .arco-picker-focused:hover {
        box-shadow: 0 0 0 2px rgb(from var(--b3-theme-primary) r g b / 60%) !important;
        border: none !important;
    }
    & .arco-picker-focused .arco-picker-input-active input, .arco-picker-focused:hover .arco-picker-input-active input {
        background: var(--QYL-hover) !important;
    }
}
.EnWeekGraph[data-v-843c3dc8] {
    background-color: var(--b3-theme-background) !important;
}
.arco-picker-cell-range-start .arco-picker-date-value, .arco-picker-cell-range-end .arco-picker-date-value {
    background-color: var(--b3-theme-primary) !important;
}
.arco-picker-cell-in-range .arco-picker-date {
    background-color: var(--QYL-hover) !important;
}
.arco-picker-header-icon:not(.arco-picker-header-icon-hidden):hover {
    background-color: var(--QYL-hover) !important;
}
.arco-picker-cell-in-view:not(.arco-picker-cell-selected):not(.arco-picker-cell-range-start):not(.arco-picker-cell-range-end):not(.arco-picker-cell-disabled):not(.arco-picker-cell-week) .arco-picker-date-value:hover {
    background-color: var(--QYL-hover) !important;
}
.arco-picker-container, .arco-picker-range-container {
    background-color: var(--b3-theme-background) !important;
    border-color: var(--b3-theme-surface-lighter);
}
.arco-input-number {
    --border-radius-small: var(--b3-border-radius);
}
.EnLifeLogDailyNoteGraph[data-v-bb9159db] {
    border-radius: var(--b3-border-radius);
    overflow: visible !important;
    visibility: hidden;
    &:hover {
        visibility: visible;
        animation: QYLleaf2 0.4s cubic-bezier(0.8, 0, 0.9, 1);
        &::before {
            display: none;
        }
    }
}
.EnLifeLogDailyNoteGraph[data-v-bb9159db]::before {
    visibility: visible;
    content: "";
    width: 16px;
    height: 16px;
    left: 6px;
    bottom: 6px;
    position: absolute;
    z-index: -1;
    background-color: var(--b3-theme-primary);
    animation: QYLleaf1 0.4s cubic-bezier(0.8, 0, 0.9, 1);
    mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path fill="black" d="M265.344 790.016s291.2 22.016 392.896-101.632c101.632-123.648 68.672-258.24 112.64-392.896 43.968-134.592 156.608-214.272 167.616-214.272 10.944 0-439.616-43.968-629.12 90.624-82.496 57.728-148.416 115.392-164.864 255.552-16.512 140.096 52.16 296.704 27.456 409.344C147.2 949.376 128 971.328 128 971.328l54.976 11.008s43.904-68.672 43.904-156.608c0-87.872 11.008-258.24 167.616-414.848s269.248-178.56 269.248-178.56-145.6 54.912-258.24 203.264c-112.64 148.416-140.16 354.432-140.16 354.432z"/></svg>') no-repeat center / contain;
    -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path fill="black" d="M265.344 790.016s291.2 22.016 392.896-101.632c101.632-123.648 68.672-258.24 112.64-392.896 43.968-134.592 156.608-214.272 167.616-214.272 10.944 0-439.616-43.968-629.12 90.624-82.496 57.728-148.416 115.392-164.864 255.552-16.512 140.096 52.16 296.704 27.456 409.344C147.2 949.376 128 971.328 128 971.328l54.976 11.008s43.904-68.672 43.904-156.608c0-87.872 11.008-258.24 167.616-414.848s269.248-178.56 269.248-178.56-145.6 54.912-258.24 203.264c-112.64 148.416-140.16 354.432-140.16 354.432z"/></svg>') no-repeat center / contain;
}
@keyframes QYLleaf1 {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(1.2);
      opacity: 1;
    }
    70% {
      transform: scale(0.99);
    }
    85% {
      transform: scale(1.01);
    }
    100% {
      transform: scale(1);
    }
}
@keyframes QYLleaf2 {
    0% {
      transform: scale(1);
      opacity: 0;
    }
    50% {
        transform: scale(1.03);
        opacity: 1;
      }
    100% {
      transform: scale(1);
    }
}
html[data-en_enabled_module~="EnableLifelogTag"] {
    & [data-type="NodeParagraph"] {
        &[custom-lifelog-type] {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            border-bottom: 2px solid var(--en-lifelog-border-color) !important;
        }
    }
}
html[data-en_enabled_module~=EnableLifelogTag] [data-type=NodeParagraph][custom-lifelog-type].en-stickied {
    border-left-color: transparent !important;
    border-right-color: transparent !important;
}