/* 主界面 */
#layouts {
  background-color: var(--b3-theme-background);
  padding: 0;
}
:is(.layout__dockl, .layout__dockr, .layout__dockb) > :is(.fn__flex-1, .fn__flex, .fn__flex-column) > [data-type="wnd"] > .layout-tab-container {
  border-radius: 0;
}
:is(.layout__dockl, .layout__dockb) > :is(.fn__flex-1, .fn__flex, .fn__flex-column) > [data-type="wnd"] > .layout-tab-container {
  background-color: var(--b3-theme-surface);
}
.layout__dockl:not([style*="width: 0px"])  {
  box-shadow: 0 40px 0 0 var(--b3-theme-surface) inset;
}
.dock#dockLeft:not(:has(.dock__item--active)) {
  background-color: var(--b3-theme-background);
  border-right: 0.5px solid var(--b3-theme-surface-lighter);
  clip-path: inset(45px 0 0 0);
}
.dock#dockRight {
  border-left: 0.5px solid var(--b3-theme-surface-lighter);
  clip-path: inset(45px 0 0 0);
  background-color: var(--b3-theme-background);
  &:has(.dock__item--active) {
      border-left: none;
  }
}
.dock#dockBottom {
  border-top: 0.5px solid var(--b3-theme-surface-lighter);
  background-color: var(--b3-theme-background);
  margin-top: 0 !important;
}
#layouts .layout__center :is(.fn__flex-1, .fn__flex, .fn__flex-column) [data-type="wnd"] > .layout-tab-container {
  border-radius: 0 !important;
}
.layout__empty {
  border-radius: 0 !important;
  box-shadow: 0 -40px 0 0 var(--b3-theme-background);
}
#dockLeft.fn__none + #layouts {
  padding-left: 0;
  padding-right: 0;
}
/* 主界面分割线 */
.layout__resize {
  margin: -3px 0 !important;
  &:hover {
      &::after {
          background-color: var(--b3-theme-primary) !important;
      }
  }
  &::after {
      transform: none !important;
      visibility: visible !important;
      height: 0.5px;
      border-radius: 0 !important;
      background-color: var(--b3-theme-surface-lighter) !important;
  }
}
.layout__resize.layout__resize--lr {
  margin: 0 -6px 0 0 !important;
  &:hover {
      &::after {
          background-color: var(--b3-theme-primary) !important;
      }
  }
  &::after {
      visibility: visible !important;
      width: 0.5px;
      border-radius: 0 !important;
      background-color: var(--b3-theme-surface-lighter) !important;
  }
}
.layout__dockl + .layout__resize {
  &::after {
    background-color: transparent !important;
  }
}
#layouts .layout__resize.layout__resize--lr:has( + .layout__dockr) {
  clip-path: inset(40px 0 0 0) !important;
}
/* 页签需向下偏移 */
#layouts .layout__center :is(.fn__flex-1, .fn__flex, .fn__flex-column) [data-type="wnd"] > .fn__flex:first-child {
  transform: translateY(6px);
}
/* 取消扁平化风格的边框 */
:is(.layout__dockl, .layout__dockr, .layout__dockb) > :is(.fn__flex-1, .fn__flex, .fn__flex-column) > [data-type="wnd"] > .layout-tab-container {
  border: none !important;
}
#layouts .layout__center :is(.fn__flex-1, .fn__flex, .fn__flex-column) [data-type="wnd"] > .layout-tab-container {
  border: none !important;
}
/* 取消顶栏融合的分割线切割 */
#layouts .layout__resize.layout__resize--lr {
  clip-path: none !important;
  &::after {
      transform: none !important;
  }
}
/* 顶栏融合文档第一个页签位置调整 */
#layouts .layout__center [data-type="wnd"] > .fn__flex > .layout-tab-bar:not(.layout-tab-bar--readonly) {
  & >.item:first-child {
      margin-left: var(--QYL-hidetabstr-fusion-tab-1, 7.5px) !important;
  }
}
/* 状态栏下移 */
@media (min-width: 630px) {
  #status {
      bottom: 6px;
  }
}
/* 更改顶栏融合侧栏偏移 */
:is(.layout__dockl, .layout__dockr):not(.layout--float) {
  padding-top: 37.5px !important;
}
/* 反链面板兼容 */
:is(.layout__dockl, .layout__dockb) .sy__backlink .protyle,.sy__backlink .protyle-content {
  background-color: rgba(0,0,0,0)
}
:is(.layout__dockl, .layout__dockb) .sy__backlink .b3-list--background .b3-list-item {
  box-shadow: 0 6px 0 var(--b3-theme-surface), 0 -6px 0 var(--b3-theme-surface);
  background-color: var(--b3-theme-background) !important;
}
/* 状态栏回退 */
@media (max-width: 630px) {
  #status {
      border-top: 0.5px solid var(--b3-theme-surface-lighter);
      background-color: var(--b3-theme-background);
  }
}
/* 修改扁平化风格页签 */
.item.item--focus {
  border: none !important;
  background-color: var(--QYL-hover) !important;
}
.layout-tab-bar .item:not(.layout-tab-bar .item--readonly):not(.item.item--focus) {
  border: none !important;
  background-color: var(--QYL-hover-light) !important;
}
/* 数据库页签 */
#layouts .av__views .layout-tab-bar.fn__flex {
  & .item.item--focus {
      background-color: var(--b3-theme-background) !important;
  }
  & .item:not(.item--focus) {
      background-color: rgba(255, 0, 0, 0) !important;
  }
}
/* 顶栏 */
#barWorkspace {
  background-color:rgba(255, 0, 0, 0);
  height: 22px;
  min-width: 30px;
  & span.toolbar__text {
      color: var(--b3-toolbar-color);
      line-height: 12px;
  }
  &:hover {
      background-color: var(--b3-theme-primary) !important;
      & span.toolbar__text {
          color: var(--b3-theme-background);
      }
  }
}
/* 侧栏 */
.dock__item--active {
  background-color: var(--QYL-hover);
  color: var(--b3-toolbar-color);
}
.dock__item:hover:not(.dock__item--activefocus) {
  background-color: var(--QYL-hover);
  color: var(--b3-toolbar-color);
}
:is(.layout__dockl, .layout__dockr, .layout__dockb) > :is(.fn__flex-1, .fn__flex, .fn__flex-column) > [data-type="wnd"] > .layout-tab-container {
  & :is(.block__logo, .block__logoicon, .block__icon) {
      color: var(--b3-theme-on-surface-light);
      font-weight: bold;
  }
}
.file-tree .b3-list-item .b3-list-item__graphic, .file-tree .b3-list-item .b3-list-item__text {
  color: var(--b3-theme-on-surface-light);
}
/* 面包屑 */
.protyle-breadcrumb button[data-type="exit-focus"] {
  color: var(--b3-theme-on-surface);
  font-weight: normal;
  border: none;
  background-color: var(--QYL-hover-light);
  &:hover {
      background-color: var(--b3-theme-primary);
      color: var(--QYL-white);
  }
}
/* 设置界面 */
[data-key="dialog-setting"] {
  & .config__tab-wrap .b3-label :where(.fn__flex-1,.fn__block,.fn__flex-center):not(.ft__on-surface,.b3-button,.b3-form__icon,.fn__size200,ul,input):first-child,& :where(.b3-label,.config__ite)::first-line{
      font-weight: bold;
      color: var(--b3-theme-on-background);
  }
  & .config__tab-wrap .config-query .fn__flex-1, & .b3-label__text, & .b3-label :where(a,code,.ft__on-surface):not(.b3-button--outline) {
      font-weight: normal !important;
      color: var(--b3-theme-on-surface) !important;
  }
}
/* 适配隐藏页签和面包屑 */
:root {
  --QYL-hidetabstr-cb-fix-1: block;
}

/* 调整顶栏融合细节 */
.toolbar {
  & > * {
      transform: translateY(1px) !important;
  }
}