/* 自定义属性line-height */
.protyle-wysiwyg[custom-line-height="单倍行距"] > p,
.protyle-wysiwyg[custom-line-height="单倍行距"] :is(li>p, blockquote>p, [data-node-id]) {
    line-height: 1;
}
.protyle-wysiwyg[custom-line-height="1.5倍行距"] > p,
.protyle-wysiwyg[custom-line-height="1.5倍行距"] :is(li>p, blockquote>p, [data-node-id]) {
    line-height: 1.5;
}
.protyle-wysiwyg[custom-line-height="1.8倍行距"] > p,
.protyle-wysiwyg[custom-line-height="1.8倍行距"] :is(li>p, blockquote>p, [data-node-id]) {
    line-height: 1.8;
}
.protyle-wysiwyg[custom-line-height="双倍行距"] > p,
.protyle-wysiwyg[custom-line-height="双倍行距"] :is(li>p, blockquote>p, [data-node-id]) {
    line-height: 2;
}