/* 自定义块属性h-style */
[custom-h-style="多彩"]:is(.h1, .h2, .h3, .h4, .h5, .h6):not([fold="1"]):not([fold="1"])>[spellcheck]:not(:empty), [custom-h-style="多彩"] :is(.h1, .h2, .h3, .h4, .h5, .h6):not([fold="1"])>[spellcheck]:not(:empty),
[custom-h-style="colorful"]:is(.h1, .h2, .h3, .h4, .h5, .h6):not([fold="1"])>[spellcheck]:not(:empty), [custom-h-style="colorful"] :is(.h1, .h2, .h3, .h4, .h5, .h6):not([fold="1"])>[spellcheck]:not(:empty)    {
    background: -webkit-linear-gradient(135deg,#0eaf6d,#ff6ac6 25%,#147b96 50%,#e6d205 55%,#2cc4e0 60%,#8b2ce0 80%,#ff6384 95%,#08dfb4);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 200% 100%;
    animation: hcolorful 8s infinite linear;
}
@keyframes hcolorful {
    0% { background-position: 0 0; }
    100% { background-position: -400% 0; }
}
[custom-h-style="金箔"]:is(.h1, .h2, .h3, .h4, .h5, .h6), [custom-h-style="金箔"] :is(.h1, .h2, .h3, .h4, .h5, .h6),
[custom-h-style="gold"]:is(.h1, .h2, .h3, .h4, .h5, .h6), [custom-h-style="gold"] :is(.h1, .h2, .h3, .h4, .h5, .h6) {
    --QYL-custom-h-style-fix: gold;
    &>[spellcheck]:not(:empty) {
    background-image: url('../img/金箔.webp') !important;  
    -webkit-background-clip: text !important; 
    color: transparent !important;
    background-size: contain !important;
    caret-color: gold;
    filter: saturate(2.5);
    --QYL-custom-h-style-fix: gold;
    }
}
[custom-h-style-u="下划线"]:is(.h1, .h2, .h3, .h4, .h5, .h6):not([fold="1"])>[spellcheck]:not(:empty), [custom-h-style-u="下划线"] :is(.h1, .h2, .h3, .h4, .h5, .h6):not([fold="1"])>[spellcheck]:not(:empty),
[custom-h-style-u="underline"]:is(.h1, .h2, .h3, .h4, .h5, .h6):not([fold="1"])>[spellcheck]:not(:empty), [custom-h-style-u="underline"] :is(.h1, .h2, .h3, .h4, .h5, .h6):not([fold="1"])>[spellcheck]:not(:empty) {
    border-bottom: 3px solid var(--QYL-custom-h-style-fix);
}
[custom-h-style-l="层级"].h1>[spellcheck]:not(:empty), [custom-h-style-l="层级"] .h1>[spellcheck]:not(:empty),
[custom-h-style-l="level"].h1>[spellcheck]:not(:empty), [custom-h-style-l="level"] .h1>[spellcheck]:not(:empty) {
    &::after {
    content: "";
    position: absolute;
    top: 19px;
    width: 18px;
    height: 18px;
    background-color: var(--QYL-custom-h-style-fix);
    mask: url('../img/一级标题.svg') no-repeat center / contain;
    -webkit-mask: url('../img/一级标题.svg') no-repeat center / contain;
    pointer-events: none;
    opacity: 0.3;
    }
}
[custom-h-style-l="层级"].h2>[spellcheck]:not(:empty), [custom-h-style-l="层级"] .h2>[spellcheck]:not(:empty),
[custom-h-style-l="level"].h2>[spellcheck]:not(:empty), [custom-h-style-l="level"] .h2>[spellcheck]:not(:empty)  {
    &::after {
    content: "";
    position: absolute;
    top: 17px;
    width: 16px;
    height: 16px;
    background-color: var(--QYL-custom-h-style-fix);
    mask: url('../img/二级标题.svg') no-repeat center / contain;
    -webkit-mask: url('../img/二级标题.svg') no-repeat center / contain;
    opacity: 0.3;
    }
}
[custom-h-style-l="层级"].h3>[spellcheck]:not(:empty), [custom-h-style-l="层级"] .h3>[spellcheck]:not(:empty),
[custom-h-style-l="level"].h3>[spellcheck]:not(:empty), [custom-h-style-l="level"] .h3>[spellcheck]:not(:empty)  {
    &::after {
    content: "";
    position: absolute;
    top: 15px;
    width: 14px;
    height: 14px;
    background-color: var(--QYL-custom-h-style-fix);
    mask: url('../img/三级标题.svg') no-repeat center / contain;
    -webkit-mask: url('../img/三级标题.svg') no-repeat center / contain;
    opacity: 0.3;
    }
}
[custom-h-style-l="层级"].h4>[spellcheck]:not(:empty), [custom-h-style-l="层级"] .h4>[spellcheck]:not(:empty),
[custom-h-style-l="level"].h4>[spellcheck]:not(:empty), [custom-h-style-l="level"] .h4>[spellcheck]:not(:empty)  {
    &::after {
    content: "";
    position: absolute;
    top: 14px;
    width: 14px;
    height: 14px;
    background-color: var(--QYL-custom-h-style-fix);
    mask: url('../img/四级标题.svg') no-repeat center / contain;
    -webkit-mask: url('../img/四级标题.svg') no-repeat center / contain;
    opacity: 0.3;
    }
}
[custom-h-style-l="层级"].h5>[spellcheck]:not(:empty), [custom-h-style-l="层级"] .h5>[spellcheck]:not(:empty),
[custom-h-style-l="level"].h5>[spellcheck]:not(:empty), [custom-h-style-l="level"] .h5>[spellcheck]:not(:empty)  {
    &::after {
    content: "";
    position: absolute;
    top: 13px;
    width: 12px;
    height: 12px;
    background-color: var(--QYL-custom-h-style-fix);
    mask: url('../img/五级标题.svg') no-repeat center / contain;
    -webkit-mask: url('../img/五级标题.svg') no-repeat center / contain;
    opacity: 0.3;
    }
}
[custom-h-style-l="层级"].h6>[spellcheck]:not(:empty), [custom-h-style-l="层级"] .h6>[spellcheck]:not(:empty),
[custom-h-style-l="level"].h6>[spellcheck]:not(:empty), [custom-h-style-l="level"] .h6>[spellcheck]:not(:empty)  {
    &::after {
    content: "";
    position: absolute;
    top: 12px;
    width: 10px;
    height: 10px;
    background-color: var(--QYL-custom-h-style-fix);
    mask: url('../img/六级标题.svg') no-repeat center / contain;
    -webkit-mask: url('../img/六级标题.svg') no-repeat center / contain;
    opacity: 0.3;
    }
}
[custom-h-style-u="左边框"]:is(.h1, .h2, .h3, .h4, .h5, .h6):not([fold="1"])>[spellcheck]:not(:empty), [custom-h-style-u="左边框"] :is(.h1, .h2, .h3, .h4, .h5, .h6):not([fold="1"])>[spellcheck]:not(:empty),
[custom-h-style-u="left border"]:is(.h1, .h2, .h3, .h4, .h5, .h6):not([fold="1"])>[spellcheck]:not(:empty), [custom-h-style-u="left border"] :is(.h1, .h2, .h3, .h4, .h5, .h6):not([fold="1"])>[spellcheck]:not(:empty) {
    border-radius: 0px;
    padding-left: 8px;
    border-left: 8px solid var(--QYL-custom-h-style-fix);
}

/* 故障 */
[data-theme-mode="dark"] [custom-h-style="故障"]:is(.h1, .h2, .h3, .h4, .h5, .h6):not([fold="1"]):not([fold="1"])>[spellcheck]:not(:empty), [data-theme-mode="dark"] [custom-h-style="故障"] :is(.h1, .h2, .h3, .h4, .h5, .h6):not([fold="1"])>[spellcheck]:not(:empty) {
    animation: QYLglitchdark 4s infinite linear !important;
}
@keyframes QYLglitchdark {
    0%, 40%, 48%, 60%, 80% {
        transform: translate(0);
        text-shadow: none;
    }
    42% {
        transform: translateX(2px);
        text-shadow: 3px 0 rgba(115, 0, 255, 0.7), -3px 0 rgba(0,255,255,0.7);
    }
    44% {
        transform: translateX(-2px);
        text-shadow: -3px 0 rgba(0,0,255,0.7), 3px 0 rgba(255, 255, 2, 0.8);
    }
    46% {
        transform: translate(1px, -1px);
        text-shadow: 2px -1px rgba(0, 255, 0, 0.8), -2px 1px rgba(255, 0, 0, 0.8);
    }
}
[data-theme-mode="light"] [custom-h-style="故障"]:is(.h1, .h2, .h3, .h4, .h5, .h6):not([fold="1"]):not([fold="1"])>[spellcheck]:not(:empty), [data-theme-mode="light"] [custom-h-style="故障"] :is(.h1, .h2, .h3, .h4, .h5, .h6):not([fold="1"])>[spellcheck]:not(:empty) {
    animation: QYLglitchlight 4s infinite linear !important;
}
@keyframes QYLglitchlight {
    0%, 40%, 48%, 60%, 80% {
        transform: translate(0);
        text-shadow: none;
    }
    42% {
        transform: translateX(2px);
        text-shadow: 3px 0 rgb(255, 90, 151), -3px 0 rgb(50, 180, 240);
    }
    44% {
        transform: translateX(-2px);
        text-shadow: -3px 0 rgb(169, 70, 255), 3px 0 rgb(255, 241, 50);
    }
    46% {
        transform: translate(1px, -1px);
        text-shadow: 2px -1px rgb(255, 149, 50), -2px 1px rgb(85, 255, 70);
    }
}