/* 自定义属性table-style */
:is([custom-table-style="三线表"], [custom-table-style="three-line table"]) table th, :is([custom-table-style="三线表"], [custom-table-style="three-line table"]) table td, :is([custom-table-style="三线表"], [custom-table-style="three-line table"]) table tr:nth-child(even) td {
    border: none;
}
:is([custom-table-style="三线表"], [custom-table-style="three-line table"]) table th {
    border-top: 1px solid var(--b3-theme-on-background);
    border-bottom: 1px solid var(--b3-theme-on-background);
}
:is([custom-table-style="三线表"], [custom-table-style="three-line table"]) table tr:last-child {
    border-bottom: 1px solid var(--b3-theme-on-background);
}

:is([custom-table-style="三线表"], [custom-table-style="three-line table"]) table:hover :is(th, td) {
    outline: 0.5px dashed var(--b3-theme-surface-lighter);
}

/* 强化表头 */
[custom-table-style-thead="强化表头"] table :is(th, td) {
    border-color: var(--b3-theme-primary) !important;
}
[custom-table-style-thead="强化表头"] table th:not(:last-child) {
    border-right-color: var(--QYL-white) !important;
}
[custom-table-style-thead="强化表头"] table th {
    background-color: var(--b3-theme-primary) !important;
    color: var(--QYL-white);
}
[custom-table-style-thead="强化表头"][custom-table-style="三线表"] table tr:last-child {
    border-bottom: 2px solid var(--b3-theme-primary) !important;
}

/* 表格颜色 */
[custom-table-color="主题色"] table :is(th, td) {
    border-color: var(--b3-theme-primary) !important;
}
[custom-table-color="主题色"] table th {
    color: var(--b3-theme-primary);
}
[custom-table-color="主题色"][custom-table-style="三线表"] table tr:last-child {
    border-color: var(--b3-theme-primary);
}
[custom-table-style-thead="强化表头"][custom-table-color="主题色"] table th {
    background-color: var(--b3-theme-primary) !important;
    color: var(--QYL-white);
}
[custom-table-style-thead="强化表头"][custom-table-color="主题色"][custom-table-style="三线表"] table tr:last-child {
    border-bottom: 2px solid var(--b3-theme-primary) !important;
}

[custom-table-color="红色"] table :is(th, td) {
    border-color: var(--QYL-custom-red) !important;
}
[custom-table-color="红色"] table th {
    color: var(--QYL-custom-red);
}
[custom-table-color="红色"][custom-table-style="三线表"] table tr:last-child {
    border-color: var(--QYL-custom-red);
}
[custom-table-style-thead="强化表头"][custom-table-color="红色"] table th {
    background-color: var(--QYL-custom-red) !important;
    color: var(--QYL-white);
}
[custom-table-style-thead="强化表头"][custom-table-color="红色"][custom-table-style="三线表"] table tr:last-child {
    border-bottom: 2px solid var(--QYL-custom-red) !important;
}

[custom-table-color="橙色"] table :is(th, td) {
    border-color: var(--QYL-custom-orange) !important;
}
[custom-table-color="橙色"] table th {
    color: var(--QYL-custom-orange);
}
[custom-table-color="橙色"][custom-table-style="三线表"] table tr:last-child {
    border-color: var(--QYL-custom-orange);
}
[custom-table-style-thead="强化表头"][custom-table-color="橙色"] table th {
    background-color: var(--QYL-custom-orange) !important;
    color: var(--QYL-white);
}
[custom-table-style-thead="强化表头"][custom-table-color="橙色"][custom-table-style="三线表"] table tr:last-child {
    border-bottom: 2px solid var(--QYL-custom-orange) !important;
}

[custom-table-color="黄色"] table :is(th, td) {
    border-color: var(--QYL-custom-yellow) !important;
}
[custom-table-color="黄色"] table th {
    color: var(--QYL-custom-yellow);
}
[custom-table-color="黄色"][custom-table-style="三线表"] table tr:last-child {
    border-color: var(--QYL-custom-yellow);
}
[custom-table-style-thead="强化表头"][custom-table-color="黄色"] table th {
    background-color: var(--QYL-custom-yellow) !important;
    color: var(--QYL-white);
}
[custom-table-style-thead="强化表头"][custom-table-color="黄色"][custom-table-style="三线表"] table tr:last-child {
    border-bottom: 2px solid var(--QYL-custom-yellow) !important;
}

[custom-table-color="绿色"] table :is(th, td) {
    border-color: var(--QYL-custom-green) !important;
}
[custom-table-color="绿色"] table th {
    color: var(--QYL-custom-green);
}
[custom-table-color="绿色"][custom-table-style="三线表"] table tr:last-child {
    border-color: var(--QYL-custom-green);
}
[custom-table-style-thead="强化表头"][custom-table-color="绿色"] table th {
    background-color: var(--QYL-custom-green) !important;
    color: var(--QYL-white);
}
[custom-table-style-thead="强化表头"][custom-table-color="绿色"][custom-table-style="三线表"] table tr:last-child {
    border-bottom: 2px solid var(--QYL-custom-green) !important;
}

[custom-table-color="青色"] table :is(th, td) {
    border-color: var(--QYL-custom-cyan) !important;
}
[custom-table-color="青色"] table th {
    color: var(--QYL-custom-cyan);
}
[custom-table-color="青色"][custom-table-style="三线表"] table tr:last-child {
    border-color: var(--QYL-custom-cyan);
}
[custom-table-style-thead="强化表头"][custom-table-color="青色"] table th {
    background-color: var(--QYL-custom-cyan) !important;
    color: var(--QYL-white);
}
[custom-table-style-thead="强化表头"][custom-table-color="青色"][custom-table-style="三线表"] table tr:last-child {
    border-bottom: 2px solid var(--QYL-custom-cyan) !important;
}

[custom-table-color="蓝色"] table :is(th, td) {
    border-color: var(--QYL-custom-blue) !important;
}
[custom-table-color="蓝色"] table th {
    color: var(--QYL-custom-blue);
}
[custom-table-color="蓝色"][custom-table-style="三线表"] table tr:last-child {
    border-color: var(--QYL-custom-blue);
}
[custom-table-style-thead="强化表头"][custom-table-color="蓝色"] table th {
    background-color: var(--QYL-custom-blue) !important;
    color: var(--QYL-white);
}
[custom-table-style-thead="强化表头"][custom-table-color="蓝色"][custom-table-style="三线表"] table tr:last-child {
    border-bottom: 2px solid var(--QYL-custom-blue) !important;
}

[custom-table-color="紫色"] table :is(th, td) {
    border-color: var(--QYL-custom-purple) !important;
}
[custom-table-color="紫色"] table th {
    color: var(--QYL-custom-purple);
}
[custom-table-color="紫色"][custom-table-style="三线表"] table tr:last-child {
    border-color: var(--QYL-custom-purple);
}
[custom-table-style-thead="强化表头"][custom-table-color="紫色"] table th {
    background-color: var(--QYL-custom-purple) !important;
    color: var(--QYL-white);
}
[custom-table-style-thead="强化表头"][custom-table-color="紫色"][custom-table-style="三线表"] table tr:last-child {
    border-bottom: 2px solid var(--QYL-custom-purple) !important;
}

[custom-table-color="粉色"] table :is(th, td) {
    border-color: var(--QYL-custom-pink) !important;
}
[custom-table-color="粉色"] table th {
    color: var(--QYL-custom-pink);
}
[custom-table-color="粉色"][custom-table-style="三线表"] table tr:last-child {
    border-color: var(--QYL-custom-pink);
}
[custom-table-style-thead="强化表头"][custom-table-color="粉色"] table th {
    background-color: var(--QYL-custom-pink) !important;
    color: var(--QYL-white);
}
[custom-table-style-thead="强化表头"][custom-table-color="粉色"][custom-table-style="三线表"] table tr:last-child {
    border-bottom: 2px solid var(--QYL-custom-pink) !important;
}

/* 全宽表格 */
[custom-table-width="全宽表格"] table {
    display: table !important;
    width: 100%;
}