/* 设置 */
.b3-dialog .layout-tab-bar {
    background-color: transparent;
}
[data-key="dialog-setting"] {
    & .config__tab-wrap {
        height: calc(100% - 12px);
        margin: 6px 6px 0px 0px;
        border-radius: var(--b3-border-radius);
    }
    & .b3-tab-bar {
        width: 150px;
    }
    & .config__tab-wrap .b3-label :where(.fn__flex-1,.fn__block,.fn__flex-center):not(.ft__on-surface,.b3-button,.b3-form__icon,.fn__size200,ul,input):first-child,& :where(.b3-label,.config__ite)::first-line{
        font-weight: bold;
        color: var(--b3-theme-primary);
    }
    & .config__tab-wrap .config-query .fn__flex-1, & .b3-label__text, & .b3-label :where(a,code,.ft__on-surface):not(.b3-button--outline) {
        font-weight: normal !important;
        color: var(--b3-theme-on-surface) !important;
    }
}
.config__panel>.b3-tab-bar .config__tab-hr {
    opacity: 0;
}
/* 账户 */
[data-name="account"] {
    & .config__tab-container.config__tab-container--full {
        margin: 50px 20px 50px 20px  !important;
    }
    & .config-account__center {
        &:not(.config-account__center--text) {
            border-radius: var(--b3-border-radius);
            background-image: var(--QYL-account-background1);
            margin: 20px 10px 4px 20px;
        }
        &.config-account__center--text {
            border-radius: var(--b3-border-radius);
            background-image: var(--QYL-account-background2);
            margin: 20px 20px 4px 10px;
            & .b3-form__icon-icon {
                top: 8px;
            }
            & .b3-button.b3-button--text  {
                top: 4.5px !important;
                right: 3px !important;
            }
        }
        & .b3-text-field.fn__block.b3-form__icon-input {
            padding: 7px 10px;
        }
    }
}
/* 集市 */
.config-bazaar__panel {
    & .b3-card {
        box-shadow: var(--b3-point-shadow),0 0 0 1px rgba(255, 255, 255, 0.12) inset,0 2px 1px -1px rgba(255, 255, 255, 0.2) inset;
        background-color: rgba(255, 0, 0, 0);
        &:hover {
            background-color: var(--QYL-hover);
            transform: scale(1.03) !important;
            filter: saturate(2.5) brightness(1.1);
        }
        &.b3-card--current {
            background-color: var(--QYL-hover);
        }
    }
}
@media screen and (min-width: 1230px) {
    .config-bazaar__panel[data-type=downloaded] .config-bazaar__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        & .b3-card {
            display: grid;
            grid-template-areas: "img info" "img buttons";
            grid-template-columns: 90px 1fr;
            margin: 16px 16px 8px 8px;
            & > .b3-card__actions {
                grid-area: buttons;
                padding: 0 16px 14px;
                align-self: flex-end
            }
            & :is(> [data-type=setting], > [data-type=setting].fn__none~[data-type=uninstall], > [data-type=open]:first-child) {
                margin-left: auto;
            }
        }
    }
}
@media screen and (min-width: 950px) and (max-width: 1230px) {
    .config-bazaar__panel[data-type=downloaded] .config-bazaar__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        & .b3-card {
            display: grid;
            grid-template-areas: "img info" "img buttons";
            grid-template-columns: 90px 1fr;
            margin: 16px 16px 8px 8px;
            & > .b3-card__actions {
                grid-area: buttons;
                padding: 0 16px 14px;
                align-self: flex-end
            }
            & :is(> [data-type=setting], > [data-type=setting].fn__none~[data-type=uninstall], > [data-type=open]:first-child) {
                margin-left: auto;
            }
        }
    }
}
#configBazaarDownloaded .b3-list--empty {
    margin-top: 20px;
}
#configBazaarReadme .block__icons {
    border-bottom: none;
}
.config-bazaar__readme .item__main {
    scroll-timeline-name: --QYL-bazaar-scroller;
}
.config-bazaar__readme .item__preview {
    animation: QYLbazzarimgscroller  linear;
    animation-timeline: --QYL-bazaar-scroller;
    animation-range: 0 50cqh;
    animation-duration: auto;
}

@keyframes QYLbazzarimgscroller {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(60%);
      opacity: 0;
    }
}

/* 多语言设置侧栏宽度调整 */
[lang="en_US"] [data-key="dialog-setting"] .b3-tab-bar {
    width: 160px;
}
[lang="en_US"] [data-key="dialog-setting"] .b3-tab-bar {
    width: 160px;
}
[lang="ar_SA"] [data-key="dialog-setting"] .b3-tab-bar {
    width: 160px;
}
[lang="de_DE"] [data-key="dialog-setting"] .b3-tab-bar {
    width: 190px;
}
[lang="es_ES"] [data-key="dialog-setting"] .b3-tab-bar {
    width: 240px;
}
[lang="fr_FR"] [data-key="dialog-setting"] .b3-tab-bar {
    width: 170px;
}
[lang="he_IL"] [data-key="dialog-setting"] .b3-tab-bar {
    width: 160px;
}
[lang="it_IT"] [data-key="dialog-setting"] .b3-tab-bar {
    width: 210px;
}
[lang="ja_JP"] [data-key="dialog-setting"] .b3-tab-bar {
    width: 180px;
}
[lang="pl_PL"] [data-key="dialog-setting"] .b3-tab-bar {
    width: 240px;
}
[lang="ru_RU"] [data-key="dialog-setting"] .b3-tab-bar {
    width: 220px;
}