/* 按钮 */
.card__icon {
    display: none;
}
.card__action .b3-button {
    line-height: 30px;
}
.card__action {
    & > div:first-child > .b3-button.b3-button--cancel:first-child {
        border: none;
    }
}
div[data-key="dialog-opencard"] .card__action .b3-button[data-type="1"] {
    border-color: var(--QYL-flashcard-type1-background);
    background-color: var(--QYL-flashcard-type1-background);
    color: var(--QYL-white) !important;
}
div[data-key="dialog-opencard"] .card__action .b3-button[data-type="2"] {
    border-color: var(--QYL-flashcard-type2-background);
    background-color: var(--QYL-flashcard-type2-background);
    color: var(--QYL-white) !important;
}
div[data-key="dialog-opencard"] .card__action .b3-button[data-type="3"] {
    border-color: var(--QYL-flashcard-type3-background);
    background-color: var(--QYL-flashcard-type3-background);
    color: var(--QYL-white) !important;
}
div[data-key="dialog-opencard"] .card__action .b3-button[data-type="4"] {
    border-color: var(--QYL-flashcard-type4-background);
    background-color: var(--QYL-flashcard-type4-background);
    color: var(--QYL-white) !important;
}
/* 界面 */
#cardPreview {
    margin: 6px 6px 6px 0;
    border-radius: var(--b3-border-radius);
}
[data-key="dialog-opencard"] .card__block {
    margin: 6px 6px -1px 6px;
    border-radius: var(--b3-border-radius);
}
.card__action {
    padding: 6px;
}
.layout__center div[data-key="dialog-opencard"] .card__main {
    background-color: var(--b3-theme-background) !important;
}
.layout__center [data-key="dialog-opencard"] .card__block {
    margin: 0 ;
    border-radius: 0 0 var(--b3-border-radius) var(--b3-border-radius);
}