.layout__center:not(#layouts) :is(.fn__flex-1, .fn__flex, .fn__flex-column) [data-type="wnd"] > .fn__flex:first-child {
    opacity: 0;
    background-color: transparent;
    z-index: 4;
    border: none;
    margin-bottom: -36.5px;
    &:hover {
        opacity: 1;
    }
    & > .layout-tab-bar {
        border: none;
        background-color: transparent;
        &.layout-tab-bar.layout-tab-bar--readonly {
            max-width: 80px;
        }
        & [data-type="tab-header"], [data-type="new"], [data-type="more"] {
            backdrop-filter: blur(10px);
        }
    }
    & + .layout-tab-container {
        border-radius: var(--b3-border-radius);
        & > .fn__flex-1.protyle .protyle-breadcrumb {/* 只隐藏protyle的面包屑 */
            padding-top: 36.5px;
            margin-bottom: -66.5px;
            background-color: transparent;
            z-index: 3;
            &:hover .protyle-breadcrumb__bar ~ .block__icon {
                opacity: 1;
            }
            & .protyle-breadcrumb__bar {
                opacity: 0;
                margin-left: -3px;
                background-color: var(--QYL-hover-light);
                border-radius: var(--b3-border-radius);
                backdrop-filter: blur(10px);
                &:hover {
                    opacity: 1;
                }
            }
            & .block__icon {
                opacity: 0;
                background-color: var(--QYL-hover-light);
                backdrop-filter: blur(10px);
                &[data-type="more"] {
                    margin-right: 8px;
                }
            }
            &:has(button[data-type="exit-focus"]:not(.fn__none)) {
                & button[data-type="exit-focus"] {
                    opacity: 1;
                }
            }
            & + .protyle-content {
                padding-top: 66.5px;
                    .protyle-top {
                        margin-top: -66.5px;
                    }
                    & .protyle-background__img.fn__none+.protyle-background__ia {
                        padding-top: 80px;
                    }
            }
        }
    }
}
.layout__center:not(#layouts) :is(.fn__flex-1, .fn__flex, .fn__flex-column) [data-type="wnd"] .layout-tab-container {
    background-color: var(--b3-theme-background);
    & > :not(.protyle) {
        margin-top: 43.5px;
    }
}
.protyle-background__img .protyle-icons {
    top: 80px
}
/* 顶栏融合文档第一个页签位置调整 */
.layout__center [data-type="wnd"] > .fn__flex > .layout-tab-bar:not(.layout-tab-bar--readonly) {
    & >.item:first-child {
        margin-left: 4px;
    }
}


/* 吸顶调整 */
html[data-en_enabled_module~=EnableLifelogTag] [data-type=NodeParagraph][custom-lifelog-type] {
    position: sticky;
    top: -62px;
    z-index: 2;
}

/* 增强页签显示效果 */
.layout__center:not(#layouts) :is(.fn__flex-1, .fn__flex, .fn__flex-column) [data-type="wnd"] > .fn__flex:first-child {
    &:hover {
        & [data-type="tab-header"], [data-type="new"], [data-type="more"] {
            background-color: var(--QYL-filter-background-theme) !important;
            backdrop-filter: blur(10px);
            &.item--focus {
                background-color: var(--QYL-hover-hover) !important;
                & .item__text {
                    mix-blend-mode: difference;
                }
            }
        }
    }
}

/* 数据库 */
.av__row--header[style*="transform"] { 
    top: 80px;
    &::before {
        content: "";
        position: absolute;
        top: -80px;
        left: 0;
        height: 80px;
        width: 100%;
        background-color: var(--b3-theme-background);
    }
}