/* 面包屑 */
.protyle-breadcrumb__item svg {
    border-radius: 4px;
    padding: 3px;
    width: 12px;
    height: 12px
}
.protyle-breadcrumb__item:hover {
    background: transparent;
    & svg {
        transition: var(--b3-transition);
        background: var(--QYL-hover);
    }
}
.protyle-breadcrumb__item--active {
    background: transparent;
    &:first-child {
        background: transparent;
        &:hover svg {
            background: var(--QYL-hover) !important;
            color: var(--b3-theme-on-surface);
        }
    }
    &:hover {
        background: transparent;
        & svg {
            transition: var(--b3-transition);
            background: var(--b3-theme-primary) !important;
            color: var(--QYL-white);
        }
    }
    &:not(:first-child) svg {
        transition: var(--b3-transition);
        background: var(--QYL-hover);
        &:hover {
            color: var(--QYL-white);
        }
    }
}
.protyle-breadcrumb__item--active :is(svg, .protyle-breadcrumb__text) {
    color: var(--b3-theme-on-surface);
}
.protyle-breadcrumb__item--active :is(svg, .protyle-breadcrumb__text):hover {
    color: var(--b3-theme-on-surface);
}
/* 退出聚焦 */
.protyle-breadcrumb button[data-type="exit-focus"] {
    color: var(--b3-theme-primary);
    font-weight: bold;
    height: 22px;
    line-height: 0px;
    padding: 0px 5px !important;
    border: 1.5px solid var(--b3-theme-primary);
    transition: var(--b3-transition);
    background-color: rgba(255, 0, 0, 0);
    &:hover {
        background-color: var(--b3-theme-primary);
        color: var(--QYL-white);
    }
}
/* 临时解锁 */
.protyle-breadcrumb .block__icon[aria-label="取消临时解锁"] svg {
    color: var(--b3-theme-primary);
}