:root {
    --QYL-hover: rgba(255, 169, 229, 0.5); /* 主要悬停色 */
    --QYL-hover-hover: rgba(255, 169, 229, 0.7);/* 主要悬停色加深 */
    --QYL-hover-light: rgba(255, 169, 229, 0.2);/* 主要悬停色变浅 */
    --b3-theme-primary: #ff005c !important; 
    --b3-theme-primary-light: rgba(255, 0, 140, 0.5); /* 主色0.5透明度 */
    --b3-theme-primary-lighter: rgba(255, 0, 140, 0.32); /* 主色0.3透明度 */
    --b3-theme-primary-lightest: rgba(255, 0, 140, 0.12); /* 主色0.1透明度 */
    --b3-protyle-inline-mark-background: rgb(139, 235, 144);/* 标记色 */
    --b3-theme-surface: #edf1f5;
    --b3-theme-surface-light: rgba(237, 241, 245, 0.8); /* 面板色0.8透明度 */
    --b3-theme-surface-lighter: #d9dfe6;
    --b3-theme-background: #f5f7fa;
    --b3-theme-background-light:#dfe0e3; /* 编辑器较多加深（不透明） */
    --b3-toolbar-blur-background: #f3f6f8; /* 失焦颜色 */
    --b3-scroll-color: #e6ecf4; /* 滚动条颜色 */
    --QYL-filetree-arrow: var(--b3-theme-on-surface-light);/* 文档树箭头颜色 */
    --QYL-white: #f5f7fa;
    --QYL-black: #11253e;
    --QYL-gray: #617691;
    --b3-theme-error: #dc3030;
    --b3-theme-success: #38c172;
    --b3-theme-secondary: #f4ca64;

    /* 文字颜色 */
    --b3-theme-on-primary: #f5f7fa;
    --b3-theme-on-secondary: #f5f7fa;
    --b3-theme-on-background: #11253e;
    --b3-theme-on-surface: #617691;
    --b3-theme-on-surface-light: #617691;
    --b3-theme-on-error: #f5f7fa;

    /* 容器阴影 */
    --b3-point-shadow: 0px 13px 25px -2px rgba(97, 118, 145, 0.15), 0px 0px 10px 0px rgba(97, 118, 145, 0.15),0 0 0 1px rgba(255, 255, 255, 0.12) inset,0 2px 1px -1px rgba(255, 255, 255, 0.2) inset;
    --b3-dialog-shadow: var(--b3-point-shadow);
    --b3-button-shadow: var(--b3-point-shadow);
    --b3-light-shadow: rgba(97, 118, 145, 0.15) 0px 1px 2px 0px, rgba(97, 118, 145, 0.15) 0px 1px 3px 1px;
    --QYL-shadow-highlight: rgba(97, 118, 145, 0.32) 0px 0px 8px;
}
:root {
    --QYL-blockquote: #7d8186;
    --QYL-blockquote-background: #eaedf2;
    --QYL-blockquote-svg: #c9ced4;
}
:root {
    --QYL-switch-close: var(--QYL-white);
    --QYL-switch-close-background: #d4dadf;
    --QYL-input-border: var(--b3-theme-primary);
    --QYL-input-border-hover: #617691;
}
:root {
    --QYL-filter-background-theme: rgba(245, 247, 250, 0.7);
    --QYL-filter-wrap-background-theme: rgba(245, 247, 250, 0.7);
    --QYL-filter-fix-background-theme: rgba(245, 247, 250, 0.9);
}
:root {
    --QYL-account-background1: linear-gradient(to right bottom, #edf1f5, #eff2f6, #f1f4f8, #f3f5f9, #f5f7fa);
    --QYL-account-background2: linear-gradient(to right bottom, #edf1f5, #eff2f6, #f1f4f8, #f3f5f9, #f5f7fa);
}
:root {
    --QYL-flat-primary: rgb(94, 68, 236);
    --QYL-flat-second: var(--b3-theme-primary);
}
:root {
    --QYL-immerse-toolbar: #b339a0;
}