:root {
    --QYL-hover: rgba(187, 196, 212, 0.5); /* 主要悬停色 */
    --QYL-hover-hover: rgba(190, 203, 225, 0.7);/* 主要悬停色加深 */
    --QYL-hover-light: rgba(190, 203, 225, 0.2);/* 主要悬停色变浅 */
    --b3-theme-primary: #66748f !important;
    --b3-theme-primary-light: rgba(102, 116, 143, 0.5); /* 主色0.5透明度 */
    --b3-theme-primary-lighter: rgba(102, 116, 143, 0.3); /* 主色0.3透明度 */
    --b3-theme-primary-lightest: rgba(102, 116, 143, 0.1); /* 主色0.1透明度 */
    --b3-protyle-inline-mark-background: rgb(139, 235, 144);/* 标记色 */
    --b3-theme-surface: #d7dce6;
    --b3-theme-surface-light: rgba(215, 220, 230, 0.8); /* 面板色0.8透明度 */
    --b3-theme-surface-lighter: #c5cbd8;
    --b3-theme-background: #e5e8f0;
    --b3-theme-background-light:#c9cedd; /* 编辑器较多加深（不透明） */
    --b3-toolbar-blur-background: #eaedf3; /* 失焦颜色 */
    --b3-scroll-color: #cacfdb; /* 滚动条颜色 */
    --QYL-white: #fff; /* 通用白 */
    --QYL-black: #171717; /* 通用黑 */
    --QYL-gray: #bfbfbf; /* 通用灰 */
    --b3-toolbar-color: #66728a;/* 顶部按钮颜色 */
    --QYL-filetree-arrow: #8295ba;/* 文档树箭头颜色 */
    --b3-theme-error: #dc3030;
    --b3-theme-success: #38c172;
    --b3-theme-secondary: #f4ca64;
    --QYL-accent-color: #526281;

    /* 文字颜色 */
    --b3-theme-on-primary: #f6f6f6;
    --b3-theme-on-secondary: #f6f6f6;
    --b3-theme-on-background: #2a354b;
    --b3-theme-on-surface: #4c5665;
    --b3-theme-on-surface-light: #5e6671;
    --b3-theme-on-error: #f6f6f6;

    /* 容器阴影 */
    --b3-point-shadow: 0px 13px 25px -2px var(--b3-theme-primary-lightest),0px 0px 10px 0px var(--b3-theme-primary-lightest),0 0 0 1px rgba(255, 255, 255, 0.12) inset,0 2px 1px -1px rgba(255, 255, 255, 0.2) inset;
    --b3-dialog-shadow: var(--b3-point-shadow);
    --b3-button-shadow: var(--b3-point-shadow);
    --b3-light-shadow: var(--b3-theme-primary-lightest) 0px 1px 2px 0px, var(--b3-theme-primary-lightest) 0px 1px 3px 1px;
    --QYL-shadow-highlight: var(--b3-theme-primary-lighter) 0px 0px 8px;
}
:root {
    --QYL-blockquote: #5f6675;
    --QYL-blockquote-background: #dadee7;
    --QYL-blockquote-svg: #c0c4cf;
}
:root {
    --QYL-switch-close: var(--QYL-white);
    --QYL-switch-close-background: #cfd8e6;
    --QYL-input-border: var(--b3-theme-primary);
    --QYL-input-border-hover:#3a3e4e;
}
:root {
    --QYL-filter-background-theme: rgba(248, 248, 248, 0.7);
    --QYL-filter-wrap-background-theme:rgba(245, 245, 245, 0.7);
    --QYL-filter-fix-background-theme: rgba(248, 248, 248, 0.9);
}
:root {
    --QYL-account-background1: linear-gradient(to right bottom, #d7dce6, #dbdfe8, #dee2eb, #e2e5ed, #e5e8f0);
    --QYL-account-background2: linear-gradient(to right bottom, #d7dce6, #dbdfe8, #dee2eb, #e2e5ed, #e5e8f0);
}
:root {
    --QYL-flat-primary: rgb(183, 65, 54);
    --QYL-flat-second: rgb(25, 164, 198);
}
:root {
    --QYL-immerse-toolbar: #5c6884;
}


/* 细节调整 */
.b3-button {
    --b3-theme-primary: var(--QYL-flat-primary);
}
.config-bazaar__title .b3-button {
    --b3-theme-primary: #66748f;
}
a {
    --b3-theme-primary: var(--QYL-flat-primary);
}
.en_item_bullet_line:not(.protyle-wysiwyg--select)::after {
    --QYL-lihelp: var(--QYL-flat-primary);
}
.protyle-wysiwyg [data-node-id].li > .protyle-action {
    --QYL-lihelp: var(--QYL-flat-primary);
}
.protyle-wysiwyg .li.protyle-task--done>.protyle-action--task::before, .av__cell-check::before, .protyle-wysiwyg .li[data-subtype=t] .protyle-action--task::before, .av__cell-uncheck::before {
    --QYL-task-block: var(--QYL-flat-primary);
}
.b3-list-item mark, #searchAssetPreview mark {
    --b3-theme-primary: var(--QYL-flat-primary);
}
:root {
    --b3-highlight-background: var(--QYL-flat-primary) !important;
    --b3-highlight-current-background: var(--QYL-flat-primary) !important;
}
.layout__tab--active .b3-list--background .b3-list-item--focus {
      & .b3-list-item__text {
        color: var(--QYL-flat-primary);
      }
}
.protyle-gutters {
    --b3-theme-primary: var(--QYL-flat-primary);
}