:root {
    --QYL-hover: rgba(199, 181, 157, 0.4); /* 主要悬停色 */
    --QYL-hover-hover: rgba(199, 181, 157, 0.6);/* 主要悬停色加深 */
    --QYL-hover-light: rgba(199, 181, 157, 0.1);/* 主要悬停色变浅 */
    --b3-theme-primary: #947c60 !important; 
    --b3-theme-primary-light: rgba(148, 124, 96, 0.5); /* 主色0.5透明度 */
    --b3-theme-primary-lighter: rgba(148, 124, 96, 0.32); /* 主色0.3透明度 */
    --b3-theme-primary-lightest: rgba(148, 124, 96, 0.12); /* 主色0.1透明度 */
    --b3-protyle-inline-mark-background: rgb(139, 235, 144);/* 标记色 */
    --b3-theme-surface: #efe8d4;
    --b3-theme-surface-light: rgba(239, 232, 212, 0.8); /* 面板色0.8透明度 */
    --b3-theme-surface-lighter: #e0d8c2;
    --b3-theme-background: #fdf6e2;
    --b3-theme-background-light:#e1dac5; /* 编辑器较多加深（不透明） */
    --b3-toolbar-blur-background: #f3eee2; /* 失焦颜色 */
    --b3-scroll-color: #e0d8c1; /* 滚动条颜色 */
    --QYL-white: #fff; /* 通用白 */
    --QYL-black: #171717; /* 通用黑 */
    --QYL-gray: #bfbfbf; /* 通用灰 */
    --b3-toolbar-color: #a38f65;/* 顶部按钮颜色 */
    --QYL-filetree-arrow: #b6a290;/* 文档树箭头颜色 */
    --b3-theme-error: #dc3030;
    --b3-theme-success: #38c172;
    --b3-theme-secondary: #f4ca64;
    --QYL-accent-color: #83704e;

    /* 文字颜色 */
    --b3-theme-on-primary: #f6f6f6;
    --b3-theme-on-secondary: #f6f6f6;
    --b3-theme-on-background: #463829;
    --b3-theme-on-surface: #715741;
    --b3-theme-on-surface-light: #8d7058;
    --b3-theme-on-error: #f6f6f6;

    /* 容器阴影 */
    --b3-point-shadow: 0px 13px 25px -2px var(--b3-theme-primary-lightest),0px 0px 10px 0px var(--b3-theme-primary-lightest),0 0 0 1px rgba(255, 255, 255, 0.12) inset,0 2px 1px -1px rgba(255, 255, 255, 0.2) inset;
    --b3-dialog-shadow: var(--b3-point-shadow);
    --b3-button-shadow: var(--b3-point-shadow);
    --b3-light-shadow: var(--b3-theme-primary-lightest) 0px 1px 2px 0px, var(--b3-theme-primary-lightest) 0px 1px 3px 1px;
    --QYL-shadow-highlight: var(--b3-theme-primary-lighter) 0px 0px 8px;
}
:root {
    --QYL-blockquote: #847e6d;
    --QYL-blockquote-background: #f1ebd9;
    --QYL-blockquote-svg: #d4cebc;
}
:root {
    --QYL-switch-close: var(--QYL-white);
    --QYL-switch-close-background: #ded4c0;
    --QYL-input-border: var(--b3-theme-primary);
    --QYL-input-border-hover:#7a5836;
}
:root {
    --QYL-filter-background-theme: rgba(245, 245, 245, 0.7);
    --QYL-filter-wrap-background-theme:rgba(255, 250, 238, 0.7);
    --QYL-filter-fix-background-theme: rgba(245, 245, 245, 0.9);
}
:root {
    --QYL-account-background1: linear-gradient(to right bottom, #efe8d4, #f2ebd7, #f6efdb, #f9f2de, #fdf6e2);
    --QYL-account-background2: linear-gradient(to right bottom, #efe8d4, #f2ebd7, #f6efdb, #f9f2de, #fdf6e2);
}
:root {
    --QYL-flat-primary: rgb(140, 183, 23);
    --QYL-flat-second: var(--b3-theme-primary);
}
:root {
    --QYL-immerse-toolbar: #917e4e;
}