:root {
    --QYL-hover: rgba(228, 202, 130, 0.5); /* 主要悬停色 */
    --QYL-hover-hover: rgba(228, 202, 130, 0.7);/* 主要悬停色加深 */
    --QYL-hover-light: rgba(228, 202, 130, 0.2);/* 主要悬停色变浅 */
    --b3-theme-primary: #cca63d !important;
    --b3-theme-primary-light: rgba(204, 166, 61, 0.5); /* 主色0.5透明度 */
    --b3-theme-primary-lighter: rgba(204, 166, 61, 0.3); /* 主色0.3透明度 */
    --b3-theme-primary-lightest: rgba(204, 166, 61, 0.1); /* 主色0.1透明度 */
    --b3-protyle-inline-mark-background: rgb(139, 235, 144);/* 标记色 */
    --b3-theme-surface: #f3e6cc;
    --b3-theme-surface-light: rgba(243, 230, 204, 0.8); /* 面板色0.8透明度 */
    --b3-theme-surface-lighter: #e0d3b7;
    --b3-theme-background: #fff9ed;
    --b3-theme-background-light:#e8dcc4; /* 编辑器较多加深（不透明） */
    --b3-toolbar-blur-background: #f4ebd8; /* 失焦颜色 */
    --b3-scroll-color: #e4d0ad; /* 滚动条颜色 */
    --QYL-white: #fff; /* 通用白 */
    --QYL-black: #171717; /* 通用黑 */
    --QYL-gray: #bfbfbf; /* 通用灰 */
    --b3-toolbar-color: #877659;/* 顶部按钮颜色 */
    --QYL-filetree-arrow: #baa482;/* 文档树箭头颜色 */
    --b3-theme-error: #dc3030;
    --b3-theme-success: #38c172;
    --b3-theme-secondary: #f4ca64;
    --QYL-accent-color: #8b781a;

    /* 文字颜色 */
    --b3-theme-on-primary: #f6f6f6;
    --b3-theme-on-secondary: #f6f6f6;
    --b3-theme-on-background: rgb(59, 51, 29);
    --b3-theme-on-surface: rgb(77, 67, 41);
    --b3-theme-on-surface-light: rgb(93, 82, 55);
    --b3-theme-on-error: #f6f6f6;

    /* 容器阴影 */
    --b3-point-shadow: 0px 13px 25px -2px var(--b3-theme-primary-lightest),0px 0px 10px 0px var(--b3-theme-primary-lightest),0 0 0 1px rgba(255, 255, 255, 0.12) inset,0 2px 1px -1px rgba(255, 255, 255, 0.2) inset;
    --b3-dialog-shadow: var(--b3-point-shadow);
    --b3-button-shadow: var(--b3-point-shadow);
    --b3-light-shadow: var(--b3-theme-primary-lightest) 0px 1px 2px 0px, var(--b3-theme-primary-lightest) 0px 1px 3px 1px;
    --QYL-shadow-highlight: var(--b3-theme-primary-lighter) 0px 0px 8px;
}
:root {
    --QYL-blockquote: #7d6f52;
    --QYL-blockquote-background: #f9eed8;
    --QYL-blockquote-svg: #d7ccb7;
}
:root {
    --QYL-switch-close: var(--QYL-white);
    --QYL-switch-close-background: #e6decf;
    --QYL-input-border: var(--b3-theme-primary);
    --QYL-input-border-hover:#3a3e4e;
}
:root {
    --QYL-filter-background-theme: rgba(255, 253, 248, 0.7);
    --QYL-filter-wrap-background-theme:rgba(252, 249, 241, 0.7);
    --QYL-filter-fix-background-theme: rgba(255, 253, 248, 0.9);
}
:root {
    --QYL-account-background1: linear-gradient(to right bottom, #f3e6cc, #f6ebd4, #f9efdc, #fcf4e5, #fff9ed);
    --QYL-account-background2: linear-gradient(to right bottom, #f3e6cc, #f6ebd4, #f9efdc, #fcf4e5, #fff9ed);
}
:root {
    --QYL-flat-primary: rgb(218, 96, 80);
    --QYL-flat-second: var(--b3-theme-primary);
}
:root {
    --QYL-immerse-toolbar: #a79354;
}