:root {
    --QYL-hover: rgba(84, 89, 106, 0.5);/* 主要悬停色 */
    --QYL-hover-hover: rgba(84, 89, 106, 0.7);/* 主要悬停色加深 */
    --QYL-hover-light: rgba(84, 89, 106, 0.2);/* 主要悬停色变浅 */
    --b3-theme-primary: #4875b3 !important; 
    --b3-theme-primary-light: rgba(72, 117, 179, 0.5); /* 主色0.5透明度 */
    --b3-theme-primary-lighter: rgba(170, 198, 222, 0.3); /* 主色0.3透明度 */
    --b3-theme-primary-lightest: rgba(72, 117, 179, 0.12); /* 主色0.1透明度 */
    --b3-theme-surface: #07080c;
    --b3-theme-surface-light: rgba(7, 8, 12, 0.8); /* 面板色0.8透明度 */
    --b3-theme-surface-lighter: #292b33;
    --b3-theme-background: #17181c;
    --b3-theme-background-light:#2f3038; /* 编辑器较多变浅（不透明） */
    --b3-toolbar-blur-background: #3d3f48; /* 失焦颜色 */
    --b3-scroll-color:  rgb(48, 48, 54); /* 滚动条颜色 */
    --QYL-white: var(--b3-theme-on-background); /* 通用白 */
    --QYL-black: var(--b3-theme-background); /* 通用黑 */
    --QYL-gray: #bfbfbf; /* 通用灰 */
    --b3-toolbar-color: var(--b3-theme-on-background);/* 顶部按钮颜色 */
    --QYL-filetree-arrow: var(--b3-theme-on-background);/* 文档树箭头颜色 */
    --b3-theme-error: #c12222;
    --b3-theme-success: #18b95b;
    --b3-theme-secondary: #b7721e;
    --QYL-accent-color: #d1dfea;  
    --QYL-border-file: rgb(70 70 70);

    /* 文字颜色 */
    --b3-theme-on-primary: #fbfdff;
    --b3-theme-on-secondary: #fbfdff;
    --b3-theme-on-background: #fbfdff;
    --b3-theme-on-surface: #acadb3;
    --b3-theme-on-surface-light: rgb(176, 182, 191);
    --b3-theme-on-error: #fbfdff;

    /* 容器阴影 */
    --b3-point-shadow: 0px 13px 25px -2px rgba(0, 0, 0, 0.3), 0px 0px 10px 0px rgba(0, 0, 0, 0.2),0 0 0 1px rgba(255, 255, 255, 0.12) inset,0 2px 1px -1px rgba(255, 255, 255, 0.2) inset;
    --b3-dialog-shadow: var(--b3-point-shadow);
    --b3-button-shadow: var(--b3-point-shadow);
    --b3-light-shadow: rgba(193, 193, 193, 0.2) 0px 1px 2px 0px, rgba(193, 193, 193, 0.2) 0px 1px 3px 1px;
    --QYL-shadow-highlight: rgba(193, 193, 193, 0.2) 0px 1px 1px 0px, rgba(193, 193, 193, 0.2) 0px 1px 3px 1px;
}
:root {
    --QYL-blockquote: #9194a0;
    --QYL-blockquote-background: #2e2f36;
    --QYL-blockquote-svg: #44464e;
}
:root {
    --QYL-switch-close: var(--QYL-gray);
    --QYL-switch-close-background: rgb(83, 83, 83);
    --QYL-input-border: var(--b3-theme-primary);
    --QYL-input-border-hover: #6092d9;
}
:root {
    --QYL-filter-background-theme: rgba(7, 8, 12, 0.7);
    --QYL-filter-wrap-background-theme: rgb(30 30 37 / 70%);
    --QYL-filter-fix-background-theme: rgba(7, 8, 12, 0.9);
}
:root {
    --QYL-account-background1: linear-gradient(to right bottom, #07080c, #0c0d11, #101115, #141519, #17181c);
    --QYL-account-background2: linear-gradient(to right bottom, #07080c, #0c0d11, #101115, #141519, #17181c);
}
:root {
    --QYL-flat-primary: #5348b3;
    --QYL-flat-second: #4875b3;
}
:root {
    --QYL-immerse-toolbar: var(--b3-theme-background);
}

/* 细节调整 */
:root {
    --QYL-midnight-primary-fix-1: rgb(46, 49, 61);
    --QYL-midnight-primary-fix-2: var(--b3-theme-on-background);
}
#barWorkspace {
    --b3-theme-primary: var(--QYL-midnight-primary-fix-1) !important; 
}
.dock__item:hover:not(.dock__item--activefocus), .dock__item--active {
    --b3-theme-primary: var(--QYL-midnight-primary-fix-1) !important; 
}
#layouts .file-tree .block__icons :is(.block__logo, .block__logoicon, .block__icon) {
    --b3-theme-primary: var(--QYL-midnight-primary-fix-2) !important; 
}
[data-key="dialog-setting"] .config__tab-wrap .b3-label :where(.fn__flex-1,.fn__block,.fn__flex-center):not(.ft__on-surface,.b3-button,.b3-form__icon,.fn__size200,ul,input):first-child, & :where(.b3-label,.config__ite)::first-line {
    --b3-theme-primary: var(--QYL-midnight-primary-fix-2) !important; 
}
.protyle-breadcrumb__item--active {
    background: var(--QYL-hover);
}
.protyle-breadcrumb__item--active:hover {
    background: var(--QYL-hover);
}
.protyle-breadcrumb__item--active :is(svg, .protyle-breadcrumb__text) {
    color: var(--b3-theme-on-surface);
}
.protyle-breadcrumb__item--active :is(svg, .protyle-breadcrumb__text):hover {
    color: var(--b3-theme-on-surface);
}
.fn__code, .b3-typography code:not(.hljs), .b3-typography span[data-type~=code], .protyle-wysiwyg code:not(.hljs), .protyle-wysiwyg span[data-type~=code] {
    background-color: var(--b3-theme-background-light);
}
[data-theme-mode="dark"] .layout__center :not(.av__views) > .layout-tab-bar .item.item--focus {
    --QYL-immerse-fusion-fix-3: var(--QYL-hover);
}
#barWorkspace {
    --b3-theme-primary-light: var(--QYL-midnight-primary-fix-1) !important;
}
.dock__item:hover:not(.dock__item--activefocus), .dock__item--active {
    --b3-theme-primary-light: var(--QYL-midnight-primary-fix-1);
}