:root {
    --QYL-hover: rgba(122, 103, 62, 0.5);/* 主要悬停色 */
    --QYL-hover-hover: rgba(122, 103, 62, 0.7);/* 主要悬停色加深 */
    --QYL-hover-light: rgba(122, 103, 62, 0.2);/* 主要悬停色变浅 */
    --b3-theme-primary: #cb9d36 !important; 
    --b3-theme-primary-light: rgba(203, 156, 54, 0.5); /* 主色0.5透明度 */
    --b3-theme-primary-lighter: rgba(203, 156, 54, 0.3); /* 主色0.3透明度 */
    --b3-theme-primary-lightest: rgba(157, 132, 79, 0.12); /* 主色0.1透明度 */
    --b3-theme-surface: #221e1b;
    --b3-theme-surface-light: rgba(34, 30, 27, 0.8); /* 面板色0.8透明度 */
    --b3-theme-surface-lighter: #46403a;
    --b3-theme-background: #2b2622;
    --b3-theme-background-light:#4b433d; /* 编辑器较多变浅（不透明） */
    --b3-toolbar-blur-background: #47403b; /* 失焦颜色 */
    --b3-scroll-color:  #443d37; /* 滚动条颜色 */
    --QYL-white: var(--b3-theme-on-background); /* 通用白 */
    --QYL-black: var(--b3-theme-background); /* 通用黑 */
    --QYL-gray: #bfbfbf; /* 通用灰 */
    --b3-toolbar-color: var(--b3-theme-on-background);/* 顶部按钮颜色 */
    --QYL-filetree-arrow: var(--b3-theme-on-background);/* 文档树箭头颜色 */
    --b3-theme-error: #c12222;
    --b3-theme-success: #18b95b;
    --b3-theme-secondary: #b7721e;
    --QYL-accent-color: #5c432c;  
    --QYL-border-file: rgb(99, 95, 86);

    /* 文字颜色 */
    --b3-theme-on-primary: #fbfdff;
    --b3-theme-on-secondary: #fbfdff;
    --b3-theme-on-background: #f2eedf;
    --b3-theme-on-surface: #dbd6c5;
    --b3-theme-on-surface-light: #cec7b2;
    --b3-theme-on-error: #fbfdff;

    /* 容器阴影 */
    --b3-point-shadow: 0px 13px 25px -2px rgba(0, 0, 0, 0.3), 0px 0px 10px 0px var(--b3-theme-primary-lightest),0 0 0 1px rgba(255, 255, 255, 0.12) inset,0 2px 1px -1px rgba(255, 255, 255, 0.2) inset;
    --b3-dialog-shadow: var(--b3-point-shadow);
    --b3-button-shadow: var(--b3-point-shadow);
    --b3-light-shadow: var(--b3-theme-primary-lightest) 0px 1px 2px 0px, var(--b3-theme-primary-lightest) 0px 1px 3px 1px;
    --QYL-shadow-highlight: var(--b3-theme-primary-lightest) 0px 1px 1px 0px, var(--b3-theme-primary-lightest) 0px 1px 3px 1px;
}
:root {
    --QYL-blockquote: #a19385;
    --QYL-blockquote-background: #423c37;
    --QYL-blockquote-svg: #5d554e;
}
:root {
    --QYL-switch-close: var(--QYL-gray);
    --QYL-switch-close-background: rgb(104, 97, 91);
    --QYL-input-border: var(--b3-theme-primary);
    --QYL-input-border-hover: #715b3d;
}
:root {
    --QYL-filter-background-theme: rgba(27, 25, 25, 0.7);
    --QYL-filter-wrap-background-theme: rgba(52, 47, 43, 0.7);
    --QYL-filter-fix-background-theme: rgba(27, 25, 25, 0.9);
}
:root {
    --QYL-account-background1: linear-gradient(to right bottom, #221e1b, #24201d, #26221e, #292420, #2b2622);
    --QYL-account-background2: linear-gradient(to right bottom, #221e1b, #24201d, #26221e, #292420, #2b2622);
}
:root {
    --QYL-flat-primary: #8b81e6;
    --QYL-flat-second: var(--b3-theme-primary);
}
:root {
    --QYL-immerse-toolbar: var(--b3-theme-background);
}

/* 细节调整 */
[data-key="dialog-setting"] {
    & .config__tab-wrap .b3-label :where(.fn__flex-1,.fn__block,.fn__flex-center):not(.ft__on-surface,.b3-button,.b3-form__icon,.fn__size200,ul,input):first-child,& :where(.b3-label,.config__ite)::first-line{
        font-weight: bold;
        color: #b59f6b;
    }
}