:root {
    /* 主色 */
    --b3-theme-background: #45565d;
    --b3-theme-background-light:#63757b; /* 编辑器较多变浅（不透明） */
    --b3-theme-surface: #53666c;
    --b3-theme-surface-light: rgba(83, 102, 108, 0.82);
    --b3-theme-surface-lighter: rgba(101, 128, 137, 0.5); /* 线条色 */

    /* 文字颜色 */
    --b3-theme-on-primary: #e3e5d7;
    --b3-theme-on-secondary: #e3e5d7;
    --b3-theme-on-background: #eceee1;
    --b3-theme-on-surface: #dadad0;
    --b3-theme-on-surface-light: #cbcdbd;
    --b3-theme-on-error: #e3e5d7;
}

:root {
    --QYL-link: rgb(125, 164, 255);
    --QYL-link-background: rgba(125, 164, 255, 0.2);
    --QYL-ref: rgb(181, 152, 255);
    --QYL-ref-background: rgba(181, 152, 255, 0.2);
    --QYL-PDFmark: rgb(127, 231, 209);
    --QYL-PDFmark-background: rgba(127, 231, 209, 0.2);
}
:root {
    --QYL-hover: rgba(116, 143, 155, 0.55); /* 主要悬停色 */
    --QYL-hover-hover: rgba(116, 143, 155, 0.7);/* 主要悬停色加深 */
    --QYL-hover-light: rgba(116, 143, 155, 0.15);/* 主要悬停色变浅 */
    --b3-theme-primary: #6b848f !important; 
    --b3-theme-primary-light: rgba(137, 166, 178, 0.5); /* 主色0.5透明度 */
    --b3-theme-primary-lighter: rgba(142, 172, 185, 0.3); /* 主色0.3透明度 */
    --b3-theme-primary-lightest: rgba(140, 173, 187, 0.12); /* 主色0.1透明度 */
    --b3-protyle-inline-mark-background: rgba(81, 150, 92, 0.8);/* 标记色 */
    --b3-protyle-inline-mark-color: #cbcdbd; /* 标记文字色 */
    --b3-border-color: var(--b3-theme-surface-lighter); /* 线条色 */
    --b3-scroll-color: #60737a; /* 滚动条颜色 */
    --QYL-white: var(--b3-theme-on-background); /* 通用白 */
    --QYL-black: #171717; /* 通用黑 */
    --QYL-gray: #bfbfbf; /* 通用灰 */
    --b3-toolbar-blur-background: #687a80; /* 失焦颜色 */
    --QYL-accent-color: #2c6e8b;

    /* 容器阴影 */
    --b3-point-shadow: 0px 13px 25px -2px rgba(0, 0, 0, 0.3), 0px 0px 10px 0px var(--b3-theme-primary-lightest),0 0 0 1px rgba(255, 255, 255, 0.12) inset,0 2px 1px -1px rgba(255, 255, 255, 0.2) inset;
    --b3-dialog-shadow: var(--b3-point-shadow);
    --b3-button-shadow: var(--b3-point-shadow);
    --b3-light-shadow: var(--b3-theme-primary-lightest) 0px 1px 2px 0px, var(--b3-theme-primary-lightest) 0px 1px 3px 1px;
    --QYL-shadow-highlight: var(--b3-theme-primary-lighter) 0px 0px 8px;
}
:root {
    --QYL-blockquote: #6f7d82;
    --QYL-blockquote-background: #3e4d53;
    --QYL-blockquote-svg: #526065;
}
:root {
    --QYL-switch-close: rgb(162, 162, 162);
    --QYL-switch-close-background: #6a7481;
    --QYL-input-border: #516a72;
    --QYL-input-border-hover: var(--b3-theme-primary);
    --b3-switch-checked-background: var(--b3-theme-primary);
    --b3-switch-checked: var(--QYL-gray);   
}
:root {
    --QYL-filter-background-theme: rgba(84, 90, 92, 0.7);
    --QYL-filter-wrap-background-theme: rgb(53 70 76 / 70%);
    --QYL-filter-fix-background-theme: rgba(84, 90, 92, 0.7);
}
:root {
    --QYL-account-background1: linear-gradient(to right bottom, #53666c, #4f6268, #4c5e64, #485a61, #45565d);
    --QYL-account-background2: linear-gradient(to right bottom, #53666c, #4f6268, #4c5e64, #485a61, #45565d);
}
:root {
    --QYL-flat-primary: #64b774;
    --QYL-flat-second: var(--b3-theme-primary);
}
:root {
    --QYL-immerse-toolbar: #31434a;
}

/* 细节调整 */
.protyle-wysiwyg[data-readonly=true] .av .av__celltext--url, .av__celltext.av__celltext--url, .av__celltext--url.b3-chip {
    color: var(--b3-theme-on-surface);
    background-color: var(--b3-theme-primary-lighter);
}
:is(.fn__code, .b3-typography code, .b3-typography span[data-type~=code], .protyle-wysiwyg code, .protyle-wysiwyg span[data-type~=code]) {
    color: #cad8ff;
}