:root {
    --QYL-hover: rgba(63, 106, 128, 0.5);/* 主要悬停色 */
    --QYL-hover-hover: rgba(63, 106, 128, 0.7);/* 主要悬停色加深 */
    --QYL-hover-light: rgba(63, 106, 128, 0.2);/* 主要悬停色变浅 */
    --b3-theme-primary: #3f7980 !important; 
    --b3-theme-primary-light: rgba(63, 122, 128, 0.5); /* 主色0.5透明度 */
    --b3-theme-primary-lighter: rgba(63, 122, 128, 0.3); /* 主色0.3透明度 */
    --b3-theme-primary-lightest: rgba(63, 122, 128, 0.12); /* 主色0.1透明度 */
    --b3-theme-surface: #051e2f;
    --b3-theme-surface-light: rgba(5, 30, 47, 0.8); /* 面板色0.8透明度 */
    --b3-theme-surface-lighter:#364d5b;
    --b3-theme-background: #0f2839;
    --b3-theme-background-light:#25485f; /* 编辑器较多变浅（不透明） */
    --b3-toolbar-blur-background: #13354c; /* 失焦颜色 */
    --b3-scroll-color: #254d68; /* 滚动条颜色 */
    --QYL-white: #e5ecf4; /* 通用白 */
    --QYL-black: var(--b3-theme-background); /* 通用黑 */
    --QYL-gray: #bfbfbf; /* 通用灰 */
    --b3-toolbar-color: var(--b3-theme-on-background);/* 顶部按钮颜色 */
    --QYL-filetree-arrow: var(--b3-theme-on-background);/* 文档树箭头颜色 */
    --b3-theme-error: #c12222;
    --b3-theme-success: #18b95b;
    --b3-theme-secondary: #b7721e;
    --QYL-accent-color: #1d4a68;  
    --QYL-border-file: #2b404e;

    /* 文字颜色 */
    --b3-theme-on-primary: #e5ecf4;
    --b3-theme-on-secondary: #e5ecf4;
    --b3-theme-on-background: #ebfff4;
    --b3-theme-on-surface: #daefe3;
    --b3-theme-on-surface-light: #d2e3da;
    --b3-theme-on-error: #e5ecf4;

    /* 容器阴影 */
    --b3-point-shadow: 0px 13px 25px -2px rgba(0, 0, 0, 0.3), 0px 0px 10px 0px var(--b3-theme-primary-lightest),0 0 0 1px rgba(255, 255, 255, 0.12) inset,0 2px 1px -1px rgba(255, 255, 255, 0.2) inset;
    --b3-dialog-shadow: var(--b3-point-shadow);
    --b3-button-shadow: var(--b3-point-shadow);
    --b3-light-shadow: var(--b3-theme-primary-lightest) 0px 1px 2px 0px, var(--b3-theme-primary-lightest) 0px 1px 3px 1px;
    --QYL-shadow-highlight: var(--b3-theme-primary-lightest) 0px 1px 1px 0px, var(--b3-theme-primary-lightest) 0px 1px 3px 1px;
}
:root {
    --QYL-link: rgb(86, 168, 234);
    --QYL-link-background: rgba(124, 166, 215, 0.2);
    --QYL-ref: rgb(150, 142, 255);
    --QYL-ref-background: rgba(101, 89, 235, 0.2);
    --QYL-PDFmark: rgb(107, 217, 173);
    --QYL-PDFmark-background: rgba(64, 171, 64, 0.2);
}
:root {
    --QYL-blockquote: #9bc2dc;
    --QYL-blockquote-background: #1b3c52;
    --QYL-blockquote-svg: #396585;
}
:root {
    --QYL-switch-close: var(--QYL-gray);
    --QYL-switch-close-background: #546c6d;
    --QYL-input-border: var(--b3-theme-primary);
    --QYL-input-border-hover: #25685d;
}
:root {
    --QYL-filter-background-theme: rgba(12, 27, 37, 0.7);
    --QYL-filter-wrap-background-theme: rgba(27, 54, 72, 0.7);
    --QYL-filter-fix-background-theme: rgba(12, 27, 37, 0.9);
}
:root {
    --QYL-account-background1: linear-gradient(to right bottom, #051e2f, #072031, #0a2334, #0c2536, #0f2839);
    --QYL-account-background2: linear-gradient(to right bottom, #051e2f, #072031, #0a2334, #0c2536, #0f2839);
}
:root {
    --QYL-flat-primary:#2c8358;
    --QYL-flat-second: var(--b3-theme-primary);
}
:root {
    --QYL-immerse-toolbar: #163d56;
}